openapi: 3.0.3
info:
  title: Equinix Fabric API v4
  description: 'Equinix Fabric is an advanced software-defined interconnection solution that enables you to directly, securely and dynamically connect to distributed infrastructure and digital ecosystems on platform Equinix via a single port, Customers can use Fabric to connect to: </br> 1. Cloud Service Providers - Clouds, network and other service providers.  </br> 2. Enterprises - Other Equinix customers, vendors and partners.  </br> 3. Myself - Another customer instance deployed at Equinix. </br> </br> <b>Integrations (SDKs, Tools) links:</b> </br> <a href="https://deploy.equinix.com/labs/fabric-java\">Fabric Java SDK</a> </br> <a href="https://deploy.equinix.com/labs/equinix-sdk-go\">Fabric Go SDK</a> </br> <a href="https://deploy.equinix.com/labs/equinix-sdk-python\">Fabric Python SDK</a> </br> <a href="https://deploy.equinix.com/labs/terraform-provider-equinix\">Equinix Terraform Provider</a> </br> <a href="https://deploy.equinix.com/labs/terraform-equinix-fabric\">Fabric Terraform Modules</a> </br> <a href="https://deploy.equinix.com/labs/pulumi-provider-equinix/">Equinix Pulumi Provider</a> </br>'
  termsOfService: https://www.equinix.com/about/legal/terms
  contact:
    name: Equinix API Support
    url: https://docs.equinix.com/api-support.htm
  license:
    name: Equinix Inc
    url: https://developer.equinix.com/agreement
  version: "4.22"
externalDocs:
  description: Find more information on Equinix Docs Portal
  url: https://docs.equinix.com/en-us/apis/fabric
servers:
  - url: https://api.equinix.com
    description: Equinix Inc
security:
  - BearerAuth: []
tags:
  - name: Cloud Events
    description: Cloud Events
  - name: Cloud Routers
    description: Cloud Routers
  - name: Connections
    description: Connections
  - name: Deployments
    description: Deployments <font color="red"> <sup color='red'>Beta</sup></font>
  - name: Metrics
    description: Metrics
  - name: Metros
    description: Metros
  - name: Ports
    description: Ports
  - name: Precision Time
    description: Precision Time <font color="red"> <sup color='red'>Beta</sup></font>
  - name: Prices
    description: Prices
  - name: Route Aggregation Rules
    description: Route Aggregation Rules
  - name: Route Aggregations
    description: Route Aggregations
  - name: Route Filter Rules
    description: Route Filter Rules
  - name: Route Filters
    description: Route Filters
  - name: Routing Protocols
    description: Routing Protocols
  - name: Service Profiles
    description: Service Profiles
  - name: Service Tokens
    description: Service Tokens
  - name: Statistics
    description: Statistics
  - name: Stream Alert Rules
    description: Stream Subscriptions
  - name: Stream Subscriptions
    description: Stream Subscriptions
  - name: Streams
    description: Streams
paths:
  "/fabric/v4/{asset}/{assetId}/cloudevents":
    get:
      tags:
        - Cloud Events
      summary: Get Cloud Events by Asset Id
      description: This API provides capability to retrieve cloud events of an asset id
      operationId: getCloudEventByAssetId
      parameters:
        - name: asset
          in: path
          description: asset
          required: true
          schema:
            $ref: "#/components/schemas/CloudEventAssetType"
        - name: assetId
          in: path
          description: asset UUID
          required: true
          schema:
            $ref: "#/components/schemas/AssetId"
        - name: fromDateTime
          in: query
          description: Start date and time
          required: false
          schema:
            $ref: "#/components/schemas/StartDateTime"
        - name: toDateTime
          in: query
          description: End date and time
          required: false
          schema:
            $ref: "#/components/schemas/EndDateTime"
        - name: offset
          in: query
          description: offset
          required: false
          schema:
            $ref: "#/components/schemas/Offset"
        - name: limit
          in: query
          description: limit
          required: false
          schema:
            $ref: "#/components/schemas/Limit"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCloudEventsByAssetResponse"
              examples:
                Example:
                  $ref: "#/components/examples/get-cloud-events-by-asset-id"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/500"
  "/fabric/v4/cloudevents/{cloudEventId}":
    get:
      tags:
        - Cloud Events
      summary: Get Cloud Event
      description: This API provides capability to retrieve a cloud event by uuid
      operationId: getCloudEvent
      parameters:
        - name: cloudEventId
          in: path
          description: Cloud Event UUID
          required: true
          schema:
            $ref: "#/components/schemas/CloudEventId"
      responses:
        "200":
          description: Cloud Event object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudEvent"
              examples:
                CloudEventResponseExample:
                  $ref: "#/components/examples/get-cloud-event"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/500"
  /fabric/v4/cloudevents/search:
    post:
      tags:
        - Cloud Events
      summary: Search Cloud Events
      description: This API provides capability to search cloud events from a filtered query
      operationId: searchCloudEvents
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CloudEventSearchRequest"
            examples:
              CloudEventSearchRequestExample:
                $ref: "#/components/examples/search-cloud-events"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCloudEventsByAssetResponse"
              examples:
                Example:
                  $ref: "#/components/examples/get-cloud-events-by-asset-id"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/500"
  "/fabric/v4/{asset}/{assetId}/metrics":
    get:
      tags:
        - Metrics
      summary: Get Metrics by Asset Id
      description: This API provides capability to retrieve Metrics of an asset id
      operationId: getMetricByAssetId
      parameters:
        - name: asset
          in: path
          description: asset
          required: true
          schema:
            $ref: "#/components/schemas/MetricAssetType"
        - name: assetId
          in: path
          description: asset UUID
          required: true
          schema:
            $ref: "#/components/schemas/AssetId"
        - name: fromDateTime
          in: query
          description: Start date and time
          required: false
          schema:
            $ref: "#/components/schemas/StartDateTime"
        - name: toDateTime
          in: query
          description: End date and time
          required: false
          schema:
            $ref: "#/components/schemas/EndDateTime"
        - name: offset
          in: query
          description: offset
          required: false
          schema:
            $ref: "#/components/schemas/Offset"
        - name: limit
          in: query
          description: limit
          required: false
          schema:
            $ref: "#/components/schemas/Limit"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMetricsByAssetResponse"
              examples:
                Example:
                  $ref: "#/components/examples/get-metrics-by-asset-id"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/500"
  /fabric/v4/connections:
    post:
      tags:
        - Connections
      summary: Create Connection
      description: This API provides capability to create user's virtual connection
      operationId: createConnection
      parameters:
        - name: dryRun
          in: query
          description: option to verify that API calls will succeed
          required: false
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConnectionPostRequest"
            examples:
              Colo2Colo-Dot1q2Dot1q:
                $ref: "#/components/examples/COLO2COLOwithDot1q-Dot1q"
              Colo2Colo-Dot1q2Dot1q-WithTerms:
                $ref: "#/components/examples/COLO2COLOwithDot1qAndTerms-Dot1q"
              Colo2Colo-Dot1q2Dot1q-CRH:
                $ref: "#/components/examples/COLO2COLOwithDot1q-Dot1q-CRH"
              Colo2Colo-Dot1q2Qinq:
                $ref: "#/components/examples/COLO2COLOwithDot1Q-QinQ"
              Colo2Colo-Qinq2Qinq:
                $ref: "#/components/examples/COLO2COLOwithQinq-Qinq"
              Colo2Colo-Qinq2Dot1q:
                $ref: "#/components/examples/COLO2COLOwithQinq-Dot1q"
              Colo2Colo-AsResellerForSubCustomer:
                $ref: "#/components/examples/COLO2COLO-AsReseller"
              Colo2Colo-Epl:
                $ref: "#/components/examples/COLO2COLO-EPL"
              Colo2Colo-Epl-With-Terms:
                $ref: "#/components/examples/COLO2COLO-EPL-Terms"
              Colo2Colo-AccessEpl:
                $ref: "#/components/examples/COLO2COLO-AccessEpl"
              Colo2Sp-Generic:
                $ref: "#/components/examples/COLO2SPwithDot1q"
              Colo2Sp-NetworkEdgeGeneric:
                $ref: "#/components/examples/COLO2SPwithDot1q"
              Colo2Sp-Alibaba:
                $ref: "#/components/examples/COLO2AlibabaSPwithDot1q"
              Colo2Sp-Aws-Primary:
                $ref: "#/components/examples/COLO2AWSSPwithDot1q-Primary"
              Colo2Sp-AzureDot1Q:
                $ref: "#/components/examples/COLO2AzureSPwithDot1q-Primary"
              Colo2Sp-AzureQinq:
                $ref: "#/components/examples/COLO2AzureSPwithQinq-Secondary"
              Colo2Sp-Google:
                $ref: "#/components/examples/COLO2GoogleSPwithDot1q"
              Colo2Sp-Ibm_1.0:
                $ref: "#/components/examples/COLO2IBM_1"
              Colo2Sp-Ibm_2.0:
                $ref: "#/components/examples/COLO2IBM_2"
              Colo2Sp-Oracle:
                $ref: "#/components/examples/COLO2OracleSPwithDot1q"
              Colo2ServiceToken:
                $ref: "#/components/examples/COLO2ServiceToken"
              Colo2Network-EVPLAN_VC:
                $ref: "#/components/examples/COLO2NETWORKwithDot1q"
              Colo2Network-EVPLAN_VC-With-Terms:
                $ref: "#/components/examples/COLO2NETWORKwithDot1qAndTerms"
              Colo2Network-EPLAN_VC:
                $ref: "#/components/examples/COLO2NETWORKwithEPL"
              Colo2Network-EPLAN_VC-With-Terms:
                $ref: "#/components/examples/COLO2NETWORKwithEPLAndTerms"
              Colo2Network-EVPTREE_VC:
                $ref: "#/components/examples/COLO2NETWORK_EVPTREE_withDot1q"
              Colo2Network-EVPTREE_VC-With-Terms:
                $ref: "#/components/examples/COLO2NETWORK_EVPTREE_withDot1qAndTerms"
              Colo2Network-EPTREE_VC:
                $ref: "#/components/examples/COLO2NETWORK_EPTREE_withEPL"
              Colo2Network-EPTREE_VC-With-Terms:
                $ref: "#/components/examples/COLO2NETWORK_EPTREE_withEPLAndTerms"
              Vd2Network:
                $ref: "#/components/examples/Vd2NETWORK"
              Vd2Sp-Aws:
                $ref: "#/components/examples/Vd2AwsSP"
              Vd2Sp-Azure:
                $ref: "#/components/examples/Vd2AzureSP"
              Vd2Sp-Oracle:
                $ref: "#/components/examples/Vd2OracleSP"
              Vd2Sp-IBM_1.0:
                $ref: "#/components/examples/Vd2Ibm_1"
              Vd2Sp-IBM_2.0:
                $ref: "#/components/examples/Vd2Ibm_2"
              Vd2Sp-Alibaba:
                $ref: "#/components/examples/Vd2AlibabaSP"
              Vd2Sp-Google:
                $ref: "#/components/examples/Vd2GoogleSP"
              Vd2Sp-Primary:
                $ref: "#/components/examples/Vd2Sp-Primary"
              Vd2Sp-Secondary:
                $ref: "#/components/examples/Vd2Sp-Secondary"
              Vd2Colo:
                $ref: "#/components/examples/Vd2Colo"
              Vd2Colo-vlanTag:
                $ref: "#/components/examples/Vd2ColoVlanTag"
              Vd2Colo-vlanCTag:
                $ref: "#/components/examples/Vd2Colo-VlanCTag"
              Vd2ColoUntagged:
                $ref: "#/components/examples/Vd2ColoUntagged"
              Vd2ServiceToken:
                $ref: "#/components/examples/Vd2ServiceToken"
              Fcr2Colo:
                $ref: "#/components/examples/Fcr2Colo"
              Fcr2Sp-Google:
                $ref: "#/components/examples/Fcr2Sp-Google"
              Fcr2Sp-Azure:
                $ref: "#/components/examples/Fcr2Sp-Azure"
              Fcr2Sp-Generic:
                $ref: "#/components/examples/Fcr2Sp-Generic"
              Fcr2Sp-Generic-Redundant-Primary:
                $ref: "#/components/examples/Fcr2Sp-Generic"
              Fcr2Sp-Generic-Redundant-Secondary:
                $ref: "#/components/examples/Fcr2Sp-Generic-Redundant-Secondary"
              Fcr2Sp-Generic-Redundant-Primary-re-add:
                $ref: "#/components/examples/Fcr2Sp-Generic-Redundant-Primary"
              Fcr2Sp-Aws:
                $ref: "#/components/examples/Fcr2Sp-Aws"
              Fcr2Sp-Oracle:
                $ref: "#/components/examples/Fcr2Sp-Oracle"
              Fcr2Vd:
                $ref: "#/components/examples/Fcr2Vd"
              Fcr2Vd-Redundant-Secondary:
                $ref: "#/components/examples/Fcr2Vd-Redundant-Secondary"
              Fcr2IpWan:
                $ref: "#/components/examples/Fcr2IpWan"
              Fcr2Sp-Aws-Marketplace-subscription:
                $ref: "#/components/examples/Fcr2Sp-Aws-marketplaceSubscription"
              Fcr2MetalNetwork:
                $ref: "#/components/examples/Fcr2Metal-Network"
              Fcr2ServiceToken:
                $ref: "#/components/examples/Fcr2ServiceToken"
              AsideServiceToken2ColoWithDot1q:
                $ref: "#/components/examples/AsideServiceToken2PortWithDot1q"
              AsideServiceToken2ColoWithQinq:
                $ref: "#/components/examples/AsideServiceToken2PortWithQinq"
              AsideServiceToken2PrivateSP-NE:
                $ref: "#/components/examples/AsideServiceToken2PrivateSP-NE"
              AsideServiceToken2ZsideServiceToken:
                $ref: "#/components/examples/AsideServiceToken2ZsideServiceToken"
              Metal2Sp-Aws:
                $ref: "#/components/examples/Metal2Sp-Aws"
              Metal2Sp-Azure:
                $ref: "#/components/examples/Metal2Sp-Azure"
              Metal2Sp-GCP:
                $ref: "#/components/examples/Metal2Sp-GCP"
              Metal2Sp-Oracle:
                $ref: "#/components/examples/Metal2Sp-Oracle"
              Metal2Sp-IBM:
                $ref: "#/components/examples/Metal2Sp-IBM"
              Metal2Port-Dot1Q:
                $ref: "#/components/examples/Metal2Port-Dot1q"
              Metal2Port-QinQ:
                $ref: "#/components/examples/Metal2Port-Qinq"
              Metal2Port-ZsideServiceToken:
                $ref: "#/components/examples/Metal2ServiceToken"
              Metal2Sp-Generic:
                $ref: "#/components/examples/Metal2Sp-Generic"
              MultiCloudNetwork2Sp-Alibaba:
                $ref: "#/components/examples/MCNS2Sp-Alibaba"
              MultiCloudNetwork2Sp-Aws:
                $ref: "#/components/examples/MCNS2Sp-Aws"
              MultiCloudNetwork2Sp-GCP:
                $ref: "#/components/examples/MCNS2Sp-GCP"
              MultiCloudNetwork2Sp-IBM2:
                $ref: "#/components/examples/MCNS2Sp-IBM2"
              MultiCloudNetwork2Sp-Azure:
                $ref: "#/components/examples/MCNS2Sp-Azure"
              MultiCloudNetwork2Sp-OCI:
                $ref: "#/components/examples/MCNS2Sp-OCI"
              Vd2IASp:
                $ref: "#/components/examples/Vd2IAProfile-Request"
              Fcr2Metal-Network:
                $ref: "#/components/examples/Fcr2Metal-Network"
              Connection-Colo2Sp-GenericDryRunCreate:
                $ref: "#/components/examples/CreateConnectionDryRunRequest"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connection"
              examples:
                ConnectionDryRun-Colo2AWS:
                  $ref: "#/components/examples/CreateConnectionDryRunResponse-Colo2AWS"
                ConnectionDryRun-Colo2Azure:
                  $ref: "#/components/examples/CreateConnectionDryRunResponse-Colo2Azure"
                ConnectionDryRun-Colo2Google:
                  $ref: "#/components/examples/CreateConnectionDryRunResponse-Colo2Google"
                ConnectionDryRun-Colo2IBM:
                  $ref: "#/components/examples/CreateConnectionDryRunResponse-Colo2IBM"
                ConnectionDryRun-Colo2Network-EPLAN_VC:
                  $ref: "#/components/examples/CreateConnectionDryRunResponse-Colo2Network-EPLAN_VC"
                ConnectionDryRun-Colo2Network-EVPLAN_VC:
                  $ref: "#/components/examples/CreateConnectionDryRunResponse-Colo2Network-EVPLAN_VC"
                ConnectionDryRun-Colo2Sp-Generic:
                  $ref: "#/components/examples/CreateConnectionDryRunResponse-Colo2Sp-Generic"
                ConnectionDryRun-Fcr2Colo:
                  $ref: "#/components/examples/CreateConnectionDryRunResponse-Fcr2Colo"
                ConnectionDryRun-Fcr2Ipwan:
                  $ref: "#/components/examples/CreateConnectionDryRunResponse-Fcr2Ipwan"
                ConnectionDryRun-Fcr2Sp-Generic:
                  $ref: "#/components/examples/CreateConnectionDryRunResponse-Fcr2Sp-Generic"
                ConnectionDryRun-PortServiceToken2Port:
                  $ref: "#/components/examples/CreateConnectionDryRunResponse-PortServiceToken2Port"
        "201":
          description: Accept Connection Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connection"
              examples:
                Colo2Sp:
                  $ref: "#/components/examples/ConnectionCreateResponse"
                Colo2Sp-Google:
                  $ref: "#/components/examples/COLO2GoogleSPwithDot1q-Response"
                Colo2Sp-Alibaba:
                  $ref: "#/components/examples/COLO2AlibabaSP-Response"
                Colo2Sp-IBM_1.0:
                  $ref: "#/components/examples/COLO2IBM_1"
                Colo2Sp-IBM_2.0:
                  $ref: "#/components/examples/COLO2IBM_2"
                Colo2Sp-Oracle:
                  $ref: "#/components/examples/COLO2OracleSP-Response"
                Vd2Sp:
                  $ref: "#/components/examples/Vd2Sp-Response"
                Vd2Token:
                  $ref: "#/components/examples/Vd2ServiceToken_Response"
                Vd2Colo:
                  $ref: "#/components/examples/Vd2Colo-Response"
                Vd2Colo-tag:
                  $ref: "#/components/examples/Vd2Colo-VlanTagResponse"
                Vd2ColoUntagged:
                  $ref: "#/components/examples/Vd2ColoUntagged-Response"
                Fcr2Sp:
                  $ref: "#/components/examples/Fcr2Sp-Response"
                Fcr2Colo:
                  $ref: "#/components/examples/Fcr2Colo-ResponseExample"
                Fcr2IpWan:
                  $ref: "#/components/examples/Fcr2IpWan-response"
                Fcr2Sp-Marketplace-subscription:
                  $ref: "#/components/examples/Fcr2Sp-marketplaceSubscription-Response"
                ServiceToken2PortResponseDot1Q:
                  $ref: "#/components/examples/AsideServiceToken2PortResponseWithDot1q"
                ServiceToken2PortResponseQinQ:
                  $ref: "#/components/examples/AsideServiceToken2PortResponseWithQinq"
                Metal2Sp-Aws:
                  $ref: "#/components/examples/Metal2Sp-Aws-Response"
                Metal2Sp-Azure:
                  $ref: "#/components/examples/Metal2Sp-Azure-Response"
                Metal2Sp-GCP:
                  $ref: "#/components/examples/Metal2Sp-GCP-Response"
                Metal2Sp-Oracle:
                  $ref: "#/components/examples/Metal2Sp-Oracle-Response"
                Metal2Sp-IBM:
                  $ref: "#/components/examples/Metal2Sp-IBM-Response"
                Metal2Port-Dot1Q:
                  $ref: "#/components/examples/Metal2Port-Dot1q-Response"
                Metal2Port-QinQ:
                  $ref: "#/components/examples/Metal2Port-Qinq-Response"
                Metal2Port-ZsideServiceToken:
                  $ref: "#/components/examples/Metal2ServiceToken-Response"
                Metal2Sp-Generic:
                  $ref: "#/components/examples/Metal2Sp-Generic-Response"
                MultiCloudNetwork2Sp-Alibaba:
                  $ref: "#/components/examples/MCNS2Sp-Alibaba-Response"
                MultiCloudNetwork2Sp-Aws:
                  $ref: "#/components/examples/MCNS2Sp-Aws-Response"
                MultiCloudNetwork2Sp-GCP:
                  $ref: "#/components/examples/MCNS2Sp-GCP-Response"
                MultiCloudNetwork2Sp-IBM2:
                  $ref: "#/components/examples/MCNS2Sp-IBM2-Response"
                MultiCloudNetwork2Sp-Azure:
                  $ref: "#/components/examples/MCNS2Sp-Azure-Response"
                MultiCloudNetwork2Sp-OCI:
                  $ref: "#/components/examples/MCNS2Sp-OCI-Response"
                Fcr2Metal-Network:
                  $ref: "#/components/examples/Fcr2Metal-Network"
                Colo2Network-EVPLAN_VC:
                  $ref: "#/components/examples/COLO2NETWORKwithDot1q-Response"
                Colo2Network-EVPLAN_VC-WithTerms:
                  $ref: "#/components/examples/COLO2NETWORKwithDot1qAndTerms-Response"
                Colo2Network-EPLAN_VC:
                  $ref: "#/components/examples/COLO2NETWORKwithEPL-Response"
                Colo2Network-EPLAN_VC-WithTerms:
                  $ref: "#/components/examples/COLO2NETWORKwithEPLAndTerms-Response"
                Colo2Network-EVPTREE_VC:
                  $ref: "#/components/examples/COLO2NETWORK_EVPTREE_withDot1q-Response"
                Colo2Network-EVPTREE_VC-WithTerms:
                  $ref: "#/components/examples/COLO2NETWORK_EVPTREE_withDot1qAndTerms-Response"
                Colo2Network-EPTREE_VC:
                  $ref: "#/components/examples/COLO2NETWORK_EPTREE_withEPL-Response"
                Colo2Network-EPTREE_VC-WithTerms:
                  $ref: "#/components/examples/COLO2NETWORK_EPTREE_withEPLAndTerms-Response"
                Vd2IASp:
                  $ref: "#/components/examples/Vd2IAProfile-Response"
                Vd2Network:
                  $ref: "#/components/examples/Vd2NETWORK-Response"
                Vd2Sp-Aws:
                  $ref: "#/components/examples/Vd2AwsSP-Response"
                Vd2Sp-Azure:
                  $ref: "#/components/examples/Vd2AzureSP-Response"
                Vd2Sp-Oracle:
                  $ref: "#/components/examples/Vd2OracleSP-Response"
                Vd2Sp-IBM_1.0:
                  $ref: "#/components/examples/Vd2Ibm_1"
                Vd2Sp-IBM_2.0:
                  $ref: "#/components/examples/Vd2Ibm_2"
                Vd2Sp-Alibaba:
                  $ref: "#/components/examples/Vd2AlibabaSP-Response"
                Vd2Sp-Google:
                  $ref: "#/components/examples/Vd2GoogleSP-Response"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/400"
                dryRun:
                  $ref: "#/components/examples/400_dry_run"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/405"
  "/fabric/v4/connections/{connectionId}":
    get:
      tags:
        - Connections
      summary: Get Connection by ID
      description: The API provides capability to get user's virtual connection details (Service Tokens, Access Points, Link Protocols, etc) by it's connection ID (UUID)
      operationId: getConnectionByUuid
      parameters:
        - name: connectionId
          in: path
          description: Connection Id
          required: true
          schema:
            $ref: "#/components/schemas/ConnectionId"
        - name: direction
          in: query
          description: Connection Direction
          required: false
          schema:
            $ref: "#/components/schemas/ConnectionDirection"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connection"
              examples:
                nonGenericConnectionResponse:
                  $ref: "#/components/examples/NonGenericConnectionResponseExample"
                genericConnectionResponse:
                  $ref: "#/components/examples/GenericConnectionResponseExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/400_Invalid_id"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404"
    delete:
      tags:
        - Connections
      summary: Delete by ID
      description: Delete Connection by ID
      operationId: deleteConnectionByUuid
      parameters:
        - name: connectionId
          in: path
          description: Connection UUID
          required: true
          schema:
            $ref: "#/components/schemas/VirtualCircuitId"
      responses:
        "200":
          description: Delete Connection Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connection"
              examples:
                connectionExample:
                  $ref: "#/components/examples/ConnectionDeletionResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/400-delete"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403-delete"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404"
        "405":
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/405"
    patch:
      tags:
        - Connections
      summary: Update by ID
      description: Update Connection by ID
      operationId: updateConnectionByUuid
      parameters:
        - name: connectionId
          in: path
          description: Connection Id
          required: true
          schema:
            $ref: "#/components/schemas/ConnectionId"
        - name: dryRun
          in: query
          description: option to verify that API calls will succeed
          required: false
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/ConnectionUpdateRequest"
            examples:
              ConnectionUpdateNameRequest:
                $ref: "#/components/examples/ConnectionUpdateNameRequest"
              ConnectionUpdateBandwidthRequest:
                $ref: "#/components/examples/ConnectionUpdateBandwidthRequest"
              ConnectionAddAccessAndSecretKeyAWSRequest:
                $ref: "#/components/examples/ConnectionAddAccessAndSecretKeyAWSRequest"
              ConnectionMigrationAsideRequest:
                $ref: "#/components/examples/ConnectionMigrationAsideRequest"
              ConnectionUpdateNotificationEmailRequest:
                $ref: "#/components/examples/ConnectionUpdateNotificationEmailRequest"
              ConnectionMigrationAsideRequestForVirtualDevice:
                $ref: "#/components/examples/ConnectionMigrationAsideVirtualDeviceRequest"
              ConnectionUpdateBandwidthRequestDryRun:
                $ref: "#/components/examples/ConnectionUpdateBandwidthRequest"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connection"
              examples:
                connectionPatchExampleDryRun:
                  $ref: "#/components/examples/ConnectionPatchResponseDryRun"
        "202":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connection"
              examples:
                connectionPatchExample:
                  $ref: "#/components/examples/ConnectionPatchResponse"
          links:
            Get Connection Details:
              operationId: getConnectionByUuid
              parameters:
                connectionId: $response.body#/uuid
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/400"
                dryRun:
                  $ref: "#/components/examples/400_dry_run"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404"
  "/fabric/v4/connections/{connectionId}/actions":
    post:
      tags:
        - Connections
      summary: Connection Actions
      description: This API provides capability to accept/reject user's virtual connection
      operationId: createConnectionAction
      parameters:
        - name: connectionId
          in: path
          description: Connection Id
          required: true
          schema:
            $ref: "#/components/schemas/ConnectionId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConnectionActionRequest"
            examples:
              ApproveGenericConnection:
                $ref: "#/components/examples/Connection_Creation_Acceptance"
              RejectGenericConnection:
                $ref: "#/components/examples/Connection_Creation_Rejection"
              ApproveBandwidthUpdate:
                $ref: "#/components/examples/Connection_Update_Acceptance"
              RejectBandwidthUpdate:
                $ref: "#/components/examples/Connection_Update_Rejection"
              AcceptDeleteConnection:
                $ref: "#/components/examples/Connection_Deletion_Acceptance"
              VcMigrationZSide:
                $ref: "#/components/examples/Connection_Update_Request_VC_Migration"
              BGPSync:
                $ref: "#/components/examples/Connection_Provider_Status_Request"
              GetProviderBandwidth:
                $ref: "#/components/examples/Connection_Provider_Bandwidth_Request"
              AcceptZSide-NetworkEdge:
                $ref: "#/components/examples/AcceptZSide_NetworkEdge_Request"
        required: true
      responses:
        "202":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionAction"
              examples:
                connectionActionExample:
                  $ref: "#/components/examples/ConnectionActionResponse"
                GetProviderBandwidth:
                  $ref: "#/components/examples/Connection_Provider_Bandwidth_Response"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/400"
                dryRun:
                  $ref: "#/components/examples/400_dry_run"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404"
  "/fabric/v4/connections/{connectionId}/advertisedRoutes/search":
    post:
      tags:
        - Cloud Routers
      summary: Search Advertised Routes
      description: The API provides capability to get list of user's advertised routes using search criteria, including optional filtering, pagination and sorting
      operationId: searchConnectionAdvertisedRoutes
      parameters:
        - name: connectionId
          in: path
          description: Connection Id
          required: true
          schema:
            $ref: "#/components/schemas/ConnectionId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConnectionRouteSearchRequest"
            examples:
              ConnectionRoutesSearchType:
                $ref: "#/components/examples/ConnectionRoutesSearchByType"
              ConnectionRoutesSearchByState:
                $ref: "#/components/examples/ConnectionRoutesSearchByState"
              ConnectionRoutesSearchByMed:
                $ref: "#/components/examples/ConnectionRoutesSearchByMed"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionRouteTableEntrySearchResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/400"
                dryRun:
                  $ref: "#/components/examples/400_dry_run"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404"
  "/fabric/v4/connections/{connectionId}/receivedRoutes/search":
    post:
      tags:
        - Cloud Routers
      summary: Search Received Routes
      description: The API provides capability to get list of received routes using search criteria, including optional filtering, pagination and sorting
      operationId: searchConnectionReceivedRoutes
      parameters:
        - name: connectionId
          in: path
          description: Connection Id
          required: true
          schema:
            $ref: "#/components/schemas/ConnectionId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConnectionRouteSearchRequest"
            examples:
              ConnectionRoutesSearchType:
                $ref: "#/components/examples/ConnectionRoutesSearchByType"
              ConnectionRoutesSearchByState:
                $ref: "#/components/examples/ConnectionRoutesSearchByState"
              ConnectionRoutesSearchByMed:
                $ref: "#/components/examples/ConnectionRoutesSearchByMed"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionRouteTableEntrySearchResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/400"
                dryRun:
                  $ref: "#/components/examples/400_dry_run"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404"
  "/fabric/v4/connections/{connectionId}/routingProtocols":
    get:
      tags:
        - Routing Protocols
      summary: GetRoutingProtocols
      description: This API provides capability to get Routing Protocols for connections
      operationId: getConnectionRoutingProtocols
      parameters:
        - name: offset
          in: query
          description: offset
          required: false
          schema:
            type: integer
          example: 1
        - name: limit
          in: query
          description: number of records to fetch
          required: false
          schema:
            type: integer
          example: 10
        - name: connectionId
          in: path
          description: Connection Id
          required: true
          schema:
            $ref: "#/components/schemas/ConnectionId"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetResponse"
              examples:
                getAllRoutingProtocols:
                  $ref: "#/components/examples/RoutingProtocolGetAll"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/400"
                dryRun:
                  $ref: "#/components/examples/400_dry_run"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "404":
          description: Connection ID Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404_invalid_id"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/500_internal_error"
    post:
      tags:
        - Routing Protocols
      summary: Create Protocol
      description: This API provides capability to create Routing Protocol for connections
      operationId: createConnectionRoutingProtocol
      parameters:
        - name: connectionId
          in: path
          description: Connection Id
          required: true
          schema:
            $ref: "#/components/schemas/ConnectionId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoutingProtocolBase"
            examples:
              Fcr2ColoDirectRoutingOnly:
                $ref: "#/components/examples/Fcr2ColoCreateDirect"
              Fcr2ColoBGPRoutingOnly:
                $ref: "#/components/examples/Fcr2ColoCreateBGP"
              Fcr2GcpDirectRoutingOnly:
                $ref: "#/components/examples/Fcr2GcpCreateDirect"
              Fcr2GcpBGPRoutingOnly:
                $ref: "#/components/examples/Fcr2GcpCreateBGP"
        required: true
      responses:
        "202":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoutingProtocolData"
              examples:
                bgpCreateResponse:
                  $ref: "#/components/examples/RoutingProtocolCreateBGPResponse"
                directCreateResponse:
                  $ref: "#/components/examples/RoutingProtocolCreateDirectResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/400"
                dryRun:
                  $ref: "#/components/examples/400_dry_run"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "404":
          description: Connection ID Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404_invalid_id"
        "415":
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/415"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/500_internal_error"
  "/fabric/v4/connections/{connectionId}/routingProtocols/bulk":
    post:
      tags:
        - Routing Protocols
      summary: Bulk Create Protocol
      description: This API provides capability to create Routing Protocol for connections
      operationId: createConnectionRoutingProtocolsInBulk
      parameters:
        - name: connectionId
          in: path
          description: Connection Id
          required: true
          schema:
            $ref: "#/components/schemas/ConnectionId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConnectionRoutingProtocolPostRequest"
            examples:
              DirectRoutingOnly:
                $ref: "#/components/examples/CreateRoutingWithDirectOnly"
              BGPRoutingOnly:
                $ref: "#/components/examples/CreateRoutingWithBGPOnly"
              DirectAndBGPRouting:
                $ref: "#/components/examples/CreateRoutingWithDirectAndBGP"
        required: true
      responses:
        "202":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetResponse"
              examples:
                getAllRoutingProtocols:
                  $ref: "#/components/examples/RoutingProtocolGetAll"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/400_routing_protocol"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "404":
          description: Connection ID Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404_invalid_id"
        "415":
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/415"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/500_internal_error"
  "/fabric/v4/connections/{connectionId}/routingProtocols/{routingProtocolId}":
    get:
      tags:
        - Routing Protocols
      summary: Get Protocol
      description: This API provides capability to accept/reject user's virtual connection
      operationId: getConnectionRoutingProtocolByUuid
      parameters:
        - name: routingProtocolId
          in: path
          description: Routing Protocol Id
          required: true
          schema:
            $ref: "#/components/schemas/RoutingProtocolId"
        - name: connectionId
          in: path
          description: Connection Id
          required: true
          schema:
            $ref: "#/components/schemas/ConnectionId"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoutingProtocolData"
              examples:
                bgpCreateResponse:
                  $ref: "#/components/examples/RoutingProtocolCreateBGPResponse"
                directCreateResponse:
                  $ref: "#/components/examples/RoutingProtocolCreateDirectResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/400"
                dryRun:
                  $ref: "#/components/examples/400_dry_run"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "404":
          description: Connection ID Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404_invalid_id"
        "415":
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/415"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/500_internal_error"
    put:
      tags:
        - Routing Protocols
      summary: Replace Protocol
      description: This API provides capability to replace complete Routing Protocols on a virtual connection
      operationId: replaceConnectionRoutingProtocolByUuid
      parameters:
        - name: routingProtocolId
          in: path
          description: Routing Protocol Id
          required: true
          schema:
            $ref: "#/components/schemas/RoutingProtocolId"
        - name: connectionId
          in: path
          description: Connection Id
          required: true
          schema:
            $ref: "#/components/schemas/ConnectionId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoutingProtocolBase"
            examples:
              DirectRoutingReplaceExample:
                $ref: "#/components/examples/UpdateRoutingWithDirectOnly"
              BGPRoutingReplaceExample:
                $ref: "#/components/examples/UpdateRoutingWithBGPOnly"
        required: true
      responses:
        "202":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoutingProtocolData"
              examples:
                bgpReplaceResponse:
                  $ref: "#/components/examples/RoutingProtocolReplaceBGPResponse"
                directReplaceResponse:
                  $ref: "#/components/examples/RoutingProtocolReplaceDirectResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/400"
                dryRun:
                  $ref: "#/components/examples/400_dry_run"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "404":
          description: Connection ID Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404_invalid_id"
        "415":
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/415"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/500_internal_error"
    delete:
      tags:
        - Routing Protocols
      summary: Delete Protocol
      description: This API provides capability to delete Routing Protocols on virtual connection
      operationId: deleteConnectionRoutingProtocolByUuid
      parameters:
        - name: routingProtocolId
          in: path
          description: Routing Protocol Id
          required: true
          schema:
            $ref: "#/components/schemas/RoutingProtocolId"
        - name: connectionId
          in: path
          description: Connection Id
          required: true
          schema:
            $ref: "#/components/schemas/ConnectionId"
      responses:
        "202":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoutingProtocolData"
              examples:
                directDeleteResponse:
                  $ref: "#/components/examples/RoutingProtocolDeleteDirectResponse"
                bgpDeleteResponse:
                  $ref: "#/components/examples/RoutingProtocolDeleteBGPResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/400"
                dryRun:
                  $ref: "#/components/examples/400_dry_run"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "404":
          description: Connection ID Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404_invalid_id"
        "415":
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/415"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/500_internal_error"
    patch:
      tags:
        - Routing Protocols
      summary: Patch Protocol
      description: This API provides capability to partially update Routing Protocols on a virtual connection
      operationId: patchConnectionRoutingProtocolByUuid
      parameters:
        - name: routingProtocolId
          in: path
          description: Routing Protocol Id
          required: true
          schema:
            $ref: "#/components/schemas/RoutingProtocolId"
        - name: connectionId
          in: path
          description: Connection Id
          required: true
          schema:
            $ref: "#/components/schemas/ConnectionId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConnectionRoutingProtocolPatchRequest"
            examples:
              EnableIPv4PatchExample:
                $ref: "#/components/examples/PatchRoutingProtocolEnableIPv4"
              EnableIPv6PatchExample:
                $ref: "#/components/examples/PatchRoutingProtocolEnableIPv6"
              DisableIPv4PatchExample:
                $ref: "#/components/examples/PatchRoutingProtocolDisableIPv4"
              DisableIPv6PatchExample:
                $ref: "#/components/examples/PatchRoutingProtocolDisableIPv6"
        required: true
      responses:
        "202":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoutingProtocolData"
              examples:
                EnableBGPResponse:
                  $ref: "#/components/examples/RoutingProtocolEnableBGPResponse"
                DisableBGPResponse:
                  $ref: "#/components/examples/RoutingProtocolDisableBGPResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/400"
                dryRun:
                  $ref: "#/components/examples/400_dry_run"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "404":
          description: Connection ID Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404_invalid_id"
        "415":
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/415"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/500_internal_error"
  "/fabric/v4/connections/{connectionId}/routingProtocols/{routingProtocolId}/actions":
    get:
      tags:
        - Routing Protocols
      summary: Get BGP Actions
      description: This API provides capability to get all BGP actions status
      operationId: getConnectionRoutingProtocolAllBgpActions
      parameters:
        - name: routingProtocolId
          in: path
          description: Routing Protocol Id
          required: true
          schema:
            $ref: "#/components/schemas/RoutingProtocolId"
        - name: connectionId
          in: path
          description: Connection Id
          required: true
          schema:
            $ref: "#/components/schemas/ConnectionId"
        - name: offset
          in: query
          description: offset
          required: false
          schema:
            type: integer
          example: 1
        - name: limit
          in: query
          description: number of records to fetch
          required: false
          schema:
            type: integer
          example: 10
      responses:
        "200":
          description: Fabric BGP Action object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BGPActionsBulkData"
              examples:
                BGPActionsAllResponse:
                  $ref: "#/components/examples/BGPActionsBulkDataResponseExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/400"
                dryRun:
                  $ref: "#/components/examples/400_dry_run"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "404":
          description: Connection ID Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404_invalid_id"
        "415":
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/415"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/500_internal_error"
    post:
      tags:
        - Routing Protocols
      summary: Clear/Reset BGP
      description: This API provides capability to clear/reset Routing Protocols BGP session
      operationId: postConnectionRoutingProtocolBgpActionByUuid
      parameters:
        - name: routingProtocolId
          in: path
          description: Routing Protocol Id
          required: true
          schema:
            $ref: "#/components/schemas/RoutingProtocolId"
        - name: connectionId
          in: path
          description: Connection Id
          required: true
          schema:
            $ref: "#/components/schemas/ConnectionId"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BGPActionRequest"
            examples:
              BGPSoftClearInAndOutBoundIPv4:
                $ref: "#/components/examples/BGPSoftClearInAndOutBoundIPv4"
              BGPSoftClearInAndOutBoundIPv6:
                $ref: "#/components/examples/BGPSoftClearInAndOutBoundIPv6"
              BGPSoftClearInBoundIPv4:
                $ref: "#/components/examples/BGPSoftClearInBoundIPv4"
              BGPSoftClearInBoundIPv6:
                $ref: "#/components/examples/BGPSoftClearInBoundIPv6"
              BGPHardResetIPv4:
                $ref: "#/components/examples/BGPHardResetIPv4"
              BGPHardResetIPv6:
                $ref: "#/components/examples/BGPHardResetIPv6"
        required: true
      responses:
        "202":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BGPActionData"
              examples:
                BGPActionHardResetIpV4:
                  $ref: "#/components/examples/BGPHardResetIPv4Response"
                BGPActionHardResetIpV6:
                  $ref: "#/components/examples/BGPHardResetIPv6Response"
                BGPActionSoftClearInAndOutIpV4:
                  $ref: "#/components/examples/BGPSoftClearInAndOutBoundIPv4Response"
                BGPActionSoftClearInAndOutIpV6:
                  $ref: "#/components/examples/BGPSoftClearInAndOutBoundIPv6Response"
                BGPActionSoftClearInIpV4:
                  $ref: "#/components/examples/BGPSoftClearInBoundIPv4Response"
                BGPActionSoftClearInIpV6:
                  $ref: "#/components/examples/BGPSoftClearInBoundIPv6Response"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/400"
                dryRun:
                  $ref: "#/components/examples/400_dry_run"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "404":
          description: Connection ID Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404_invalid_id"
        "415":
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/415"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/500_internal_error"
  "/fabric/v4/connections/{connectionId}/routingProtocols/{routingProtocolId}/actions/{actionId}":
    get:
      tags:
        - Routing Protocols
      summary: Get BGP Action
      description: This API provides capability to retrieve specific BGP action
      operationId: getConnectionRoutingProtocolsBgpActionByUuid
      parameters:
        - name: connectionId
          in: path
          description: Connection Id
          required: true
          schema:
            $ref: "#/components/schemas/ConnectionId"
        - name: routingProtocolId
          in: path
          description: Routing Protocol Id
          required: true
          schema:
            $ref: "#/components/schemas/RoutingProtocolId"
        - name: actionId
          in: path
          description: BGP Action UUID
          required: true
          schema:
            $ref: "#/components/schemas/ActionId"
      responses:
        "200":
          description: Fabric BGP Action object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BGPActionData"
              examples:
                BGPActionResponse:
                  $ref: "#/components/examples/BGPActionDataResponseExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/400_Invalid_id"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "404":
          description: Connection ID Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404_invalid_id"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/500_internal_error"
  "/fabric/v4/connections/{connectionId}/routingProtocols/{routingProtocolId}/changes/{changeId}":
    get:
      tags:
        - Routing Protocols
      summary: Get Change By ID
      description: This API provides capability to retrieve specific Routing Protocol Change
      operationId: getConnectionRoutingProtocolsChangeByUuid
      parameters:
        - name: connectionId
          in: path
          description: Connection Id
          required: true
          schema:
            $ref: "#/components/schemas/ConnectionId"
        - name: routingProtocolId
          in: path
          description: Routing Protocol Id
          required: true
          schema:
            $ref: "#/components/schemas/RoutingProtocolId"
        - name: changeId
          in: path
          description: Routing Protocol Change UUID
          required: true
          schema:
            $ref: "#/components/schemas/ChangeId"
      responses:
        "200":
          description: Fabric Routing Protocol Change object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoutingProtocolChangeData"
              examples:
                RoutingProtocolChangeResponse:
                  $ref: "#/components/examples/RoutingProtocolGetChangeResponseExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/400_Invalid_id"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "404":
          description: Connection ID Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404_invalid_id"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/500_internal_error"
  "/fabric/v4/connections/{connectionId}/routingProtocols/{routingProtocolId}/changes":
    get:
      tags:
        - Routing Protocols
      summary: Get Changes
      description: This API provides capability to retrieve user's Routing Protocol Changes
      operationId: getConnectionRoutingProtocolsChanges
      parameters:
        - name: connectionId
          in: path
          description: Connection Id
          required: true
          schema:
            $ref: "#/components/schemas/ConnectionId"
        - name: routingProtocolId
          in: path
          description: Routing Protocol Id
          required: true
          schema:
            $ref: "#/components/schemas/RoutingProtocolId"
        - name: offset
          in: query
          description: offset
          required: false
          schema:
            type: integer
          example: 1
        - name: limit
          in: query
          description: number of records to fetch
          required: false
          schema:
            type: integer
          example: 10
      responses:
        "200":
          description: Fabric Routing Protocol Change object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoutingProtocolChangeDataResponse"
              examples:
                RoutingProtocolChangesResponse:
                  $ref: "#/components/examples/RoutingProtocolGetAllChangesResponseExample"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/400_Invalid_id"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "404":
          description: Connection ID Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404_invalid_id"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/500_internal_error"
  /fabric/v4/connections/search:
    post:
      tags:
        - Connections
      summary: Search connections
      description: The API provides capability to get list of user's virtual connections using search criteria, including optional filtering, pagination and sorting
      operationId: searchConnections
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
            examples:
              ConnectionSearchDirection:
                $ref: "#/components/examples/ConnectionSearchDirection"
              ConnectionSearchIsremote:
                $ref: "#/components/examples/ConnectionSearchIsremote"
              ConnectionSearchName:
                $ref: "#/components/examples/ConnectionSearchName"
              ConnectionSearchUuid:
                $ref: "#/components/examples/ConnectionSearchUuid"
              ConnectionSearchCustorg:
                $ref: "#/components/examples/ConnectionSearchCustorg"
              ConnectionSearchAccountname:
                $ref: "#/components/examples/ConnectionSearchAccountname"
              ConnectionSearchCloudRouteruuid:
                $ref: "#/components/examples/ConnectionSearchCloudRouteruuid"
              ConnectionSearchAsidevlanstagctag:
                $ref: "#/components/examples/ConnectionSearchAsidevlanstagctag"
              ConnectionSearchAsidemetrocodemetroname:
                $ref: "#/components/examples/ConnectionSearchAsidemetrocodemetroname"
              ConnectionSearchAsideaccesspointname:
                $ref: "#/components/examples/ConnectionSearchAsideaccesspointname"
              ConnectionSearchAsideaccesspointuuid:
                $ref: "#/components/examples/ConnectionSearchAsideaccesspointuuid"
              ConnectionSearchAsideaccesspointtype:
                $ref: "#/components/examples/ConnectionSearchAsideaccesspointtype"
              ConnectionSearchAsidevirtualdevicename:
                $ref: "#/components/examples/ConnectionSearchAsidevirtualdevicename"
              ConnectionSearchAsidevirtualdeviceuuid:
                $ref: "#/components/examples/ConnectionSearchAsidevirtualdeviceuuid"
              ConnectionSearchAsideservicetokenuuid:
                $ref: "#/components/examples/ConnectionSearchAsideservicetokenuuid"
              ConnectionSearchChangestatus:
                $ref: "#/components/examples/ConnectionSearchChangestatus"
              ConnectionSearchUpdatedatetime:
                $ref: "#/components/examples/ConnectionSearchUpdatedatetime"
              ConnectionSearchEquinixstatus:
                $ref: "#/components/examples/ConnectionSearchEquinixstatus"
              ConnectionSearchProviderstatus:
                $ref: "#/components/examples/ConnectionSearchProviderstatus"
              ConnectionSearchProjectid:
                $ref: "#/components/examples/ConnectionSearchProjectidOPtional-CRH"
              ConnectionSearchRedundancygroup:
                $ref: "#/components/examples/ConnectionSearchRedundancygroup"
              ConnectionSearchRedundancypriority:
                $ref: "#/components/examples/ConnectionSearchRedundancypriority"
              ConnectionSearchZsidevlanstagctag:
                $ref: "#/components/examples/ConnectionSearchZsidevlanstagctag"
              ConnectionSearchZsidemetrocodemetroname:
                $ref: "#/components/examples/ConnectionSearchZsidemetrocodemetroname"
              ConnectionSearchZsideaccesspointname:
                $ref: "#/components/examples/ConnectionSearchZsideaccesspointname"
              ConnectionSearchZsideaccesspointuuid:
                $ref: "#/components/examples/ConnectionSearchZsideaccesspointuuid"
              ConnectionSearchZsideaccesspointtype:
                $ref: "#/components/examples/ConnectionSearchZsideaccesspointtype"
              ConnectionSearchZsidevirtualdevicename:
                $ref: "#/components/examples/ConnectionSearchZsidevirtualdevicename"
              ConnectionSearchZsidevirtualdeviceuuid:
                $ref: "#/components/examples/ConnectionSearchZsidevirtualdeviceuuid"
              ConnectionSearchZsideservicetokenuuid:
                $ref: "#/components/examples/ConnectionSearchZsideservicetokenuuid"
              ConnectionSearchZsideprofileuuid:
                $ref: "#/components/examples/ConnectionSearchZsideprofileuuid"
              ConnectionSearchANDwithNestedOR-LIKE:
                $ref: "#/components/examples/ConnectionSearchANDwithNestedOR-LIKE"
              ConnectionSearchORwithNestedAND:
                $ref: "#/components/examples/ConnectionSearchORwithNestedAND"
              ConnectionSearchANDwithNestedIN:
                $ref: "#/components/examples/ConnectionSearchANDwithNestedIN"
              ConnectionSearchANDClause:
                $ref: "#/components/examples/ConnectionSearchANDClause"
              ConnectionSearchANDwithNestedOR:
                $ref: "#/components/examples/ConnectionSearchANDwithNestedOR"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionSearchResponse"
              example:
                - href: https://api.equinix.com/fabric/v4/connections/3a58dd05-f46d-4b1d-a154-2e85c396ea62
                  type: EVPL_VC
                  uuid: 3a58dd05-f46d-4b1d-a154-2e85c396ea62
                  name: My-Layer2-Connection
                  bandwidth: 1000
                  direction: OUTGOING
                  isRemote: true
                  redundancy:
                    priority: PRIMARY
                    group: 7cf39156-9dec-40f7-a254-9bb401342e83
                  aSide:
                    accessPoint:
                      type: COLO
                      uuid: b840a1db-5639-639f-97e0-328a5c00a874
                      name: exmapple-access-point-name-aside
                      port:
                        href: https://api.equinix.com/fabric/v4/ports/a00cef6f-8e35-4794-9ff9-665e084e4e6d
                        uuid: a00cef6f-8e35-4794-9ff9-665e084e4e6d
                    linkProtocol:
                      type: DOT1Q
                      vlanTag: 1001
                  zSide:
                    accessPoint:
                      type: SP
                      uuid: b840a1db-5639-639f-97e0-328a5c00a875
                      name: exmapple-access-point-name-zside
                      profile:
                        href: https://api.equinix.com/fabric/v4/serviceProfiles/22d4e853-ef33-4ff0-b5b2-a2b1d5dfa50c
                        uuid: 22d4e853-ef33-4ff0-b5b2-a2b1d5dfa50c
                      location:
                        metroCode: MX
                        metroName: Mexico City
                        sellerRegion: us-west-1
                  routingProtocols:
                    - type: EBGP
                      seqId: 03f7294b-42ce-42b6-9cc8-1e1b46d8183a
                      state: ACTIVE
                      customerAsn: 65500
                      providerAsn: 65000
                      bgpAuthKey: testAuthKey
                      ipv4:
                        customerPeerIp: 169.254.255.2/30
                        providerPeerIp: 169.254.255.1/30
                  operation:
                    providerStatus: PROVISIONING
                    equinixStatus: PROVISIONED
                  changeLog:
                    createdDateTime: 2020-05-21T10:30:00Z
                    updatedDateTime: 2020-05-21T10:30:00Z
                  project:
                    projectId: 2c10d60e-29c1-4721-ad1a-b531f4e04717
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/400"
                dryRun:
                  $ref: "#/components/examples/400_dry_run"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/404"
  /fabric/v4/prices/search:
    post:
      tags:
        - Prices
      summary: Get Prices
      description: Search prices by search criteria
      operationId: searchPrices
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FilterBody"
            examples:
              virtualConnectionProductEvplVcTypeFromColoToColo:
                $ref: "#/components/examples/VirtualConnectionProductEvplVcTypeFromColoToColo"
              virtualConnectionProductEvplVcTypeFromColoToColoByPortUuid:
                $ref: "#/components/examples/VirtualConnectionProductEvplVcTypeFromColoToColoByPortUuid"
              virtualConnectionProductEvplVcTypeFromColoToSP:
                $ref: "#/components/examples/VirtualConnectionProductEvplVcTypeFromColoToSP"
              virtualConnectionProductFcrVcTypeFromGWToSP:
                $ref: "#/components/examples/VirtualConnectionProductGwVcTypeFromGWToSP"
              virtualConnectionProductFcrVcTypeFromGWToColo:
                $ref: "#/components/examples/VirtualConnectionProductGwVcTypeFromGWToColo"
              virtualConnectionProductFcrVcTypeFromVDToColo:
                $ref: "#/components/examples/VirtualConnectionProductGwVcTypeFromVDToColo"
              virtualConnectionProductEvplVcTypeFromVDToColo:
                $ref: "#/components/examples/VirtualConnectionProductEvplVcTypeFromVDToColo"
              virtualConnectionProductVdChainTypeFromVDToChaingroup:
                $ref: "#/components/examples/VirtualConnectionProductVdChainTypeFromVDToChaingroup"
              virtualConnectionProductOfflineEvplVcTypeFromColoToSp:
                $ref: "#/components/examples/VirtualConnectionProductOfflineEvplVcTypeFromColoToSp"
              virtualConnectionProductOfflineEvpLanVcTypeFromColoToNetwork:
                $ref: "#/components/examples/VirtualConnectionProductEvpLanVcTypeFromColoToNetwork"
              cloudRouterProduct:
                $ref: "#/components/examples/FabricCloudRouterProduct"
              ipBlockProduct:
                $ref: "#/components/examples/IpBlockProduct"
              virtualPortProduct:
                $ref: "#/components/examples/VirtualPortProduct"
              precisionTimeProductNtpStandardPackageCode:
                $ref: "#/components/examples/PrecisionTimeNtpStandardPackage"
              precisionTimeProductNtpEnterprisePackageCode:
                $ref: "#/components/examples/PrecisionTimeNtpEnterprisePackage"
              precisionTimeProductPtpStandardPackageCode:
                $ref: "#/components/examples/PrecisionTimePtpStandardPackage"
              precisionTimeProductPtpEnterprisePackageCode:
                $ref: "#/components/examples/PrecisionTimePtpEnterprisePackage"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceSearchResponse"
              examples:
                virtualConnection:
                  $ref: "#/components/examples/VirtualConnection"
                ipBlock:
                  $ref: "#/components/examples/IpBlock"
                cloudRouter:
                  $ref: "#/components/examples/FabricCloudRouter"
                virtualPort:
                  $ref: "#/components/examples/VirtualPort"
                precisionTimeService:
                  $ref: "#/components/examples/PrecisionTimeService"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceErrorList"
              examples:
                example:
                  $ref: "#/components/examples/400_prices"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceErrorList"
              examples:
                example:
                  $ref: "#/components/examples/500_prices"
  "/fabric/v4/ports/{portId}/stats":
    get:
      tags:
        - Statistics
      summary: Get Stats by uuid
      description: This API provides service-level traffic metrics so that you can view access and gather key information required to manage service subscription sizing and capacity.
      operationId: getPortStatsByPortUuid
      parameters:
        - name: portId
          in: path
          description: Port UUID
          required: true
          schema:
            $ref: "#/components/schemas/PortUUID"
        - name: startDateTime
          in: query
          description: startDateTime
          required: true
          schema:
            $ref: "#/components/schemas/StartDateTime"
          example: 2020-11-06T07:00:00Z
        - name: endDateTime
          in: query
          description: endDateTime
          required: true
          schema:
            $ref: "#/components/schemas/EndDateTime"
          example: 2020-11-10T07:00:00Z
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Statistics"
              examples:
                statsExample:
                  $ref: "#/components/examples/200_port"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/401"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/403"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                example:
                  $ref: "#/components/examples/500"
  "/fabric/v4/connections/{connectionId}/stats":
    get:
      tags:
        - Statistics
      summary: Get Stats by uuid
      description: This API provides service-level metrics so that you can view access and gather key information required to manage service subscription sizing and capacity
      operationId: getConnectionStatsByPortUuid
      parameters:
        - name: connectionId
          in: path
          description: Connection UUID
          required: true
          schema:
            $ref: "#/components/schemas/VirtualCircuitId"
        - name: startDateTime
          in: query
          description: startDateTime
          required: true
          schema:
            $ref: "#/components/schemas/StartDateTime"
          example: 2020-11-06T07:00:00Z
        - name: endDateTime
          in: query
          description: endDateTime
          required: true
          schema:
            $ref: "#/components/schemas/EndDateTime"
          example: 2020-11-10T07:00:00Z
        - name: viewPoint
          in: query
          description: viewPoint
          required: true
          schema:
            $ref: "#/components/schemas/viewPoint"
          example: aSide
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Statistics"
              examples:
                statsExample:
[...]
