openapi: 3.0.3
info:
  contact:
    email: api-support@equinix.com
    name: Equinix API Support
    url: https://equinix.com/about/
  description: "Equinix Fabric is an advanced software-defined interconnection solution\
    \ that enables you to directly, securely and dynamically connect to distributed\
    \ infrastructure and digital ecosystems on platform Equinix via a single port,\
    \ Customers can use Fabric to connect to: </br> 1. Cloud Service Providers - Clouds,\
    \ network and other service providers.  </br> 2. Enterprises - Other Equinix customers,\
    \ vendors and partners.  </br> 3. Myself - Another customer instance deployed\
    \ at Equinix. </br>"
  license:
    name: Equinix Inc
    url: https://developer.equinix.com/agreement
  termsOfService: https://www.equinix.com/about/legal/terms
  title: Equinix Fabric API v4
  version: "4.4"
externalDocs:
  description: Find more information on SwaggerHub Portal
  url: https://app.swaggerhub.com/apis/equinix-api/fabric/4.4#
servers:
- url: https://api.equinix.com
security:
- BearerAuth: []
tags:
- description: Connections
  name: Connections
- description: Gateways <font color="red"> <sup color='red'>Preview</sup></font>
  name: Gateways
- description: Metros
  name: Metros
- description: Ports
  name: Ports
- description: Prices
  name: Prices
- description: Routes <font color="red"> <sup color='red'>Preview</sup></font>
  name: Routes
- description: Routing Protocols <font color="red"> <sup color='red'>Preview</sup></font>
  name: Routing Protocols
- description: Service Profiles
  name: Service Profiles
- description: Service Tokens
  name: Service Tokens
- description: Statistics
  name: Statistics
paths:
  /fabric/v4/connections:
    post:
      description: This API provides capability to create user's virtual connection
      operationId: createConnection
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              Gw2Sp-Azure:
                $ref: '#/components/examples/Gw2Sp-Azure'
                value: null
              Colo2Colo-Epl:
                $ref: '#/components/examples/COLO2COLO-EPL'
                value: null
              Colo2Sp-Ibm_1.0:
                $ref: '#/components/examples/COLO2IBM_1'
                value: null
              Vd2Sp:
                $ref: '#/components/examples/Vd2Sp'
                value: null
              Colo2ServiceToken:
                $ref: '#/components/examples/COLO2ServiceToken'
                value: null
              Colo2Sp-Ibm_2.0:
                $ref: '#/components/examples/COLO2IBM_2'
                value: null
              Colo2Colo-Qinq2Dot1q:
                $ref: '#/components/examples/COLO2COLOwithQinq-Dot1q'
                value: null
              Gw2Sp-Generic:
                $ref: '#/components/examples/Gw2Sp-Generic'
                value: null
              AsideServiceToken2ColoWithQinq:
                $ref: '#/components/examples/AsideServiceToken2PortWithQinq'
                value: null
              Gw2Sp-Google:
                $ref: '#/components/examples/Gw2Sp-Google'
                value: null
              Colo2Colo-Dot1q2Qinq:
                $ref: '#/components/examples/COLO2COLOwithDot1Q-QinQ'
                value: null
              Vd2ServiceToken:
                $ref: '#/components/examples/Vd2ServiceToken'
                value: null
              Colo2Colo-AsResellerForSubCustomer:
                $ref: '#/components/examples/COLO2COLO-AsReseller'
                value: null
              Colo2Sp-Aws:
                $ref: '#/components/examples/COLO2AWSSPwithDot1q'
                value: null
              Colo2Colo-AccessEpl:
                $ref: '#/components/examples/COLO2COLO-AccessEpl'
                value: null
              Colo2Sp-AzureQinq:
                $ref: '#/components/examples/COLO2AzureSPwithQinq'
                value: null
              Colo2Colo-Dot1q2Dot1q:
                $ref: '#/components/examples/COLO2COLOwithDot1q-Dot1q'
                value: null
              Vd2Colo:
                $ref: '#/components/examples/Vd2Colo'
                value: null
              Gw2Sp-Aws:
                $ref: '#/components/examples/Gw2Sp-Aws'
                value: null
              Gw2Vd:
                $ref: '#/components/examples/Gw2Vd'
                value: null
              Colo2Colo-Qinq2Qinq:
                $ref: '#/components/examples/COLO2COLOwithQinq-Qinq'
                value: null
              Vd2ColoUntagged:
                $ref: '#/components/examples/Vd2ColoUntagged'
                value: null
              AsideServiceToken2ColoWithDot1q:
                $ref: '#/components/examples/AsideServiceToken2PortWithDot1q'
                value: null
              Colo2Sp-Alibaba:
                $ref: '#/components/examples/COLO2AlibabaSPwithDot1q'
                value: null
              Colo2Sp-Google:
                $ref: '#/components/examples/COLO2GoogleSPwithDot1q'
                value: null
              Colo2Sp-Oracle:
                $ref: '#/components/examples/COLO2OracleSPwithDot1q'
                value: null
              Gw2Colo:
                $ref: '#/components/examples/Gw2Colo'
                value: null
              Colo2Sp-Generic:
                $ref: '#/components/examples/COLO2SPwithDot1q'
                value: null
              Colo2Sp-AzureDot1Q:
                $ref: '#/components/examples/COLO2AzureSPwithDot1q'
                value: null
            schema:
              $ref: '#/components/schemas/ConnectionPostRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                Colo2Sp:
                  $ref: '#/components/examples/ConnectionExample'
                  value: null
                Gw2Sp:
                  $ref: '#/components/examples/Gw2Sp-Response'
                  value: null
                ServiceToken2PortResponseQinQ:
                  $ref: '#/components/examples/AsideServiceToken2PortResponseWithQinq'
                  value: null
                Vd2ColoUntagged:
                  $ref: '#/components/examples/Vd2ColoUntagged-Response'
                  value: null
                ServiceToken2PortResponseDot1Q:
                  $ref: '#/components/examples/AsideServiceToken2PortResponseWithDot1q'
                  value: null
                Gw2Colo:
                  $ref: '#/components/examples/Gw2Colo-ResponseExample'
                  value: null
                Vd2Sp:
                  $ref: '#/components/examples/Vd2Sp-Response'
                  value: null
                Vd2Colo:
                  $ref: '#/components/examples/Vd2Colo-Response'
                  value: null
                Vd2Token:
                  $ref: '#/components/examples/Vd2ServiceToken_Response'
                  value: null
              schema:
                $ref: '#/components/schemas/Connection'
          description: Accept Connection Request
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/405'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Method not allowed
      security:
      - BearerAuth: []
      summary: Create Connection
      tags:
      - Connections
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/connections/{connectionId}/routingProtocols/{routingProtocolId}/changes/{changeId}:
    get:
      description: This API provides capability to retrieve specific Routing Protocol
        Change
      operationId: getConnectionRoutingProtocolsChangeByUuid
      parameters:
      - description: Connection Id
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
        style: simple
      - description: Routing Protocol Id
        explode: false
        in: path
        name: routingProtocolId
        required: true
        schema:
          $ref: '#/components/schemas/RoutingProtocolId'
        style: simple
      - description: Routing Protocol Change UUID
        explode: false
        in: path
        name: changeId
        required: true
        schema:
          $ref: '#/components/schemas/ChangeId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                RoutingProtocolChangeResponse:
                  $ref: '#/components/examples/RoutingProtocolGetChangeResponseExample'
                  value: null
              schema:
                $ref: '#/components/schemas/RoutingProtocolChangeData'
          description: Fabric Routing Protocol Change object
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400_Invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404_invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Connection ID Not Found
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500_internal_error'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      security:
      - BearerAuth: []
      summary: Get Change By ID
      tags:
      - Routing Protocols
      x-accepts: application/json
  /fabric/v4/gateways/{gatewayId}/routes/search:
    post:
      description: "The API provides capability to get list of user's Fabric Gateways\
        \ route table entries using search criteria, including optional filtering,\
        \ pagination and sorting"
      operationId: searchRoutes
      parameters:
      - description: Gateway UUID
        explode: false
        in: path
        name: gatewayId
        required: true
        schema:
          $ref: '#/components/schemas/GatewayId'
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              SearchFilterByStatus:
                $ref: '#/components/examples/SearchFilterByStatus'
                value: null
              SearchFilterByPrefix:
                $ref: '#/components/examples/SearchFilterByPrefix'
                value: null
              SearchFilterOrAnd:
                $ref: '#/components/examples/SearchFilterOrAnd'
                value: null
              SearchFilterByType:
                $ref: '#/components/examples/SearchFilterByType'
                value: null
              SearchFilterByNextHop:
                $ref: '#/components/examples/SearchFilterByNextHop'
                value: null
            schema:
              $ref: '#/components/schemas/RouteTableEntrySearchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteTableEntrySearchResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400_invalid_sorting'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "415":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/415'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      security:
      - BearerAuth: []
      summary: Search Route Table
      tags:
      - Routes
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/networks/{networkId}/connections:
    get:
      description: The API provides capability to get list of user's Fabric Network
        connections
      operationId: getConnectionsByNetworkUuid
      parameters:
      - description: Network UUID
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          $ref: '#/components/schemas/NetworkId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                networkResponse:
                  $ref: '#/components/examples/GetNetworkConnectionExample'
                  value: null
              schema:
                $ref: '#/components/schemas/NetworkConnections'
          description: Fabric Network Access point object
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400_invalid_uuid'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "415":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/415'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unsupported Media Type
      security:
      - BearerAuth: []
      summary: Get Connections
      tags:
      - Networks
      x-accepts: application/json
  /fabric/v4/connections/validate:
    post:
      description: This API provides capability to validate by auth key
      operationId: validateConnections
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              Google:
                $ref: '#/components/examples/Request_Google'
                value: null
              Azure:
                $ref: '#/components/examples/Request_Azure'
                value: null
              IBM-2.0:
                $ref: '#/components/examples/Request_IBM_2'
                value: null
              IBM-1.0:
                $ref: '#/components/examples/Request_IBM_1'
                value: null
              Alibaba:
                $ref: '#/components/examples/Request_Alibaba'
                value: null
              Aws:
                $ref: '#/components/examples/Request_AWS'
                value: null
              Oracle:
                $ref: '#/components/examples/Request_Oracle'
                value: null
            schema:
              $ref: '#/components/schemas/ValidateByAuthKeyPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                SuccessfulOracle-200:
                  $ref: '#/components/examples/successful-oracle'
                  value: null
                SucessfulAzure-200:
                  $ref: '#/components/examples/successful-azure'
                  value: null
                SuccessfulOtherCSP-200:
                  $ref: '#/components/examples/successful-other-csp'
                  value: null
              schema:
                $ref: '#/components/schemas/ConnectionResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                Bad Request:
                  $ref: '#/components/examples/error-400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
      security:
      - BearerAuth: []
      summary: Validate AuthKey
      tags:
      - Connections
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/ports/stats:
    get:
      description: This API provides top utilized service-level traffic metrics so
        that you can view access and gather key information required to manage service
        subscription sizing and capacity.
      operationId: getPortStats
      parameters:
      - description: Key or set of keys that organizes the search payload by property
          (such as createdDate or metroCode) or by direction. Ascending (ASC) is the
          default value. The "‒" prefix indicates descending (DESC) order.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: '#/components/schemas/sort'
        style: form
      - description: "Filter returning only the specified number of most heavily trafficked\
          \ ports. The standard value is [1...10], and the default is 5."
        explode: true
        in: query
        name: top
        required: false
        schema:
          $ref: '#/components/schemas/top'
        style: form
      - description: duration
        explode: true
        in: query
        name: duration
        required: false
        schema:
          $ref: '#/components/schemas/duration'
        style: form
      - description: Direction of traffic from the requester's viewpoint. The default
          is outbound.
        explode: true
        in: query
        name: direction
        required: false
        schema:
          $ref: '#/components/schemas/query_direction'
        style: form
      - description: metricInterval
        explode: true
        in: query
        name: metricInterval
        required: false
        schema:
          $ref: '#/components/schemas/metricInterval'
        style: form
      - description: Two-letter prefix indicating the metropolitan area in which a
          specified Equinix asset is located.
        explode: true
        in: query
        name: metros
        required: true
        schema:
          $ref: '#/components/schemas/metros'
        style: form
      - description: projectId
        explode: true
        in: query
        name: projectId
        required: false
        schema:
          $ref: '#/components/schemas/projectId'
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                statsExample:
                  $ref: '#/components/examples/200_top'
                  value: null
              schema:
                $ref: '#/components/schemas/TopUtilizedStatistics'
          description: Successful operation
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
      security:
      - BearerAuth: []
      summary: Top Port Statistics
      tags:
      - Statistics
      x-accepts: application/json
  /fabric/v4/connections/{connectionId}/stats:
    get:
      description: This API provides service-level metrics so that you can view access
        and gather key information required to manage service subscription sizing
        and capacity
      operationId: getConnectionStatsByPortUuid
      parameters:
      - description: Connection UUID
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/VirtualCircuitId'
        style: simple
      - description: startDateTime
        example: Fri Nov 06 07:00:00 UTC 2020
        explode: true
        in: query
        name: startDateTime
        required: true
        schema:
          $ref: '#/components/schemas/startDateTime'
        style: form
      - description: endDateTime
        example: Tue Nov 10 07:00:00 UTC 2020
        explode: true
        in: query
        name: endDateTime
        required: true
        schema:
          $ref: '#/components/schemas/endDateTime'
        style: form
      - description: viewPoint
        example: aSide
        explode: true
        in: query
        name: viewPoint
        required: true
        schema:
          $ref: '#/components/schemas/viewPoint'
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                statsExample:
                  $ref: '#/components/examples/200_vc'
                  value: null
              schema:
                $ref: '#/components/schemas/Statistics'
          description: Successful operation
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
      security:
      - BearerAuth: []
      summary: Get Stats by uuid
      tags:
      - Statistics
      x-accepts: application/json
  /fabric/v4/serviceProfiles:
    get:
      description: The API request returns all Equinix Fabric Service Profiles in
        accordance with the view point requested.
      operationId: getServiceProfiles
      parameters:
      - description: offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: number of records to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: flips view between buyer and seller representation
        explode: true
        in: query
        name: viewPoint
        required: false
        schema:
          default: aSide
          enum:
          - aSide
          - zSide
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=UTF-8:
              examples:
                ASideServiceProfile:
                  $ref: '#/components/examples/ServiceProfilesResponse'
                  value: null
                ZSideServiceProfile:
                  $ref: '#/components/examples/SellerServiceProfilesResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/ServiceProfiles'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-403-read'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-500'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Get all Profiles
      tags:
      - Service Profiles
      x-accepts: application/json
    post:
      description: Create Service Profile creates Equinix Fabric™ Service Profile.
      operationId: createServiceProfile
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              ServiceProfileCreate:
                $ref: '#/components/examples/ServiceProfileCreate'
                value: null
            schema:
              $ref: '#/components/schemas/ServiceProfileRequest'
        required: true
      responses:
        "201":
          content:
            application/json; charset=UTF-8:
              examples:
                ServiceProfile:
                  $ref: '#/components/examples/ServiceProfileCreateResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/ServiceProfile'
          description: Successful Create operation
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-403-create'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-500'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Create Profile
      tags:
      - Service Profiles
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/metros/{metroCode}:
    get:
      description: "GET Metros retrieves all Equinix Fabric metros, as well as latency\
        \ data between each metro location. ."
      operationId: getMetroByCode
      parameters:
      - description: Metro Code
        explode: false
        in: path
        name: metroCode
        required: true
        schema:
          $ref: '#/components/schemas/MetroCode'
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                metroExample:
                  $ref: '#/components/examples/metroByCode'
                  value: null
              schema:
                $ref: '#/components/schemas/Metro'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400_metroCode'
                  value: null
              schema:
                $ref: '#/components/schemas/MetroErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401_metros'
                  value: null
              schema:
                $ref: '#/components/schemas/MetroErrorList'
          description: Unauthorized
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500_metros'
                  value: null
              schema:
                $ref: '#/components/schemas/MetroErrorList'
          description: Internal Server Error
      security:
      - BearerAuth: []
      summary: Get Metro by Code
      tags:
      - Metros
      x-accepts: application/json
  /fabric/v4/serviceTokens/{serviceTokenId}/actions:
    post:
      description: This API provides capability to accept/reject user's servicetokens
      operationId: createServiceTokenAction
      parameters:
      - description: Service Token UUID
        explode: false
        in: path
        name: serviceTokenId
        required: true
        schema:
          $ref: '#/components/schemas/ServiceTokenUUID'
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              ResendServiceToken:
                $ref: '#/components/examples/Resend_Service_Token'
                value: null
            schema:
              $ref: '#/components/schemas/ServiceTokenActionRequest'
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                connectionActionExample:
                  $ref: '#/components/examples/postServiceTokenActionResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/ServiceToken'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Not Found
      security:
      - BearerAuth: []
      summary: ServiceToken Actions
      tags:
      - Service Tokens
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/connections/{connectionId}/actions:
    post:
      description: This API provides capability to accept/reject user's virtual connection
      operationId: createConnectionAction
      parameters:
      - description: Connection Id
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              ApproveGenericConnection:
                $ref: '#/components/examples/Connection_Creation_Acceptance'
                value: null
              VcMigrationZSide:
                $ref: '#/components/examples/Connection_Update_Request_VC_Migration'
                value: null
              BGPSync:
                $ref: '#/components/examples/Connection_Provider_Status_Request'
                value: null
              AcceptDeleteConnection:
                $ref: '#/components/examples/Connection_Deletion_Acceptance'
                value: null
              RejectGenericConnection:
                $ref: '#/components/examples/Connection_Creation_Rejection'
                value: null
              RejectBandwidthUpdate:
                $ref: '#/components/examples/Connection_Update_Rejection'
                value: null
              AcceptZSide-NetworkEdge:
                $ref: '#/components/examples/AcceptZSide_NetworkEdge_Request'
                value: null
              ApproveBandwidthUpdate:
                $ref: '#/components/examples/Connection_Update_Acceptance'
                value: null
            schema:
              $ref: '#/components/schemas/ConnectionActionRequest'
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                connectionActionExample:
                  $ref: '#/components/examples/ConnectionActionResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/Connection'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Not Found
      security:
      - BearerAuth: []
      summary: Connection Actions
      tags:
      - Connections
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/connections/{connectionId}/routingProtocols:
    get:
      description: This API provides capability to get Routing Protocols for connections
      operationId: getConnectionRoutingProtocols
      parameters:
      - description: offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: number of records to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Connection Id
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                getAllRoutingProtocols:
                  $ref: '#/components/examples/RoutingProtocolGetAll'
                  value: null
              schema:
                $ref: '#/components/schemas/GetResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404_invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Connection ID Not Found
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500_internal_error'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      security:
      - BearerAuth: []
      summary: GetRoutingProtocols
      tags:
      - Routing Protocols
      x-accepts: application/json
    post:
      description: This API provides capability to create Routing Protocol for connections
      operationId: createConnectionRoutingProtocol
      parameters:
      - description: Connection Id
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Gw2ColoDirectRoutingOnly:
                $ref: '#/components/examples/Gw2ColoCreateDirect'
                value: null
              Gw2GcpDirectRoutingOnly:
                $ref: '#/components/examples/Gw2GcpCreateDirect'
                value: null
              Gw2GcpBGPRoutingOnly:
                $ref: '#/components/examples/Gw2GcpCreateBGP'
                value: null
              Gw2ColoBGPRoutingOnly:
                $ref: '#/components/examples/Gw2ColoCreateBGP'
                value: null
            schema:
              $ref: '#/components/schemas/RoutingProtocolBase'
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                bgpCreateResponse:
                  $ref: '#/components/examples/RoutingProtocolCreateBGPResponse'
                  value: null
                directCreateResponse:
                  $ref: '#/components/examples/RoutingProtocolCreateDirectResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/RoutingProtocolData'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404_invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Connection ID Not Found
        "415":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/415'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500_internal_error'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      security:
      - BearerAuth: []
      summary: Create Protocol
      tags:
      - Routing Protocols
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/connections/search:
    post:
      description: "The API provides capability to get list of user's virtual connections\
        \ using search criteria, including optional filtering, pagination and sorting"
      operationId: searchConnections
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              ConnectionSearchZsidevirtualdevicename:
                $ref: '#/components/examples/ConnectionSearchZsidevirtualdevicename'
                value: null
              ConnectionSearchAccountname:
                $ref: '#/components/examples/ConnectionSearchAccountname'
                value: null
              ConnectionSearchZsideaccesspointuuid:
                $ref: '#/components/examples/ConnectionSearchZsideaccesspointuuid'
                value: null
              ConnectionSearchAsidevirtualdevicename:
                $ref: '#/components/examples/ConnectionSearchAsidevirtualdevicename'
                value: null
              ConnectionSearchZsideaccesspointtype:
                $ref: '#/components/examples/ConnectionSearchZsideaccesspointtype'
                value: null
              ConnectionSearchIsremote:
                $ref: '#/components/examples/ConnectionSearchIsremote'
                value: null
              ConnectionSearchAsideservicetokenuuid:
                $ref: '#/components/examples/ConnectionSearchAsideservicetokenuuid'
                value: null
              ConnectionSearchAsideaccesspointuuid:
                $ref: '#/components/examples/ConnectionSearchAsideaccesspointuuid'
                value: null
              ConnectionSearchGatewayuuid:
                $ref: '#/components/examples/ConnectionSearchGatewayuuid'
                value: null
              ConnectionSearchAsideaccesspointtype:
                $ref: '#/components/examples/ConnectionSearchAsideaccesspointtype'
                value: null
              ConnectionSearchRedundancygroup:
                $ref: '#/components/examples/ConnectionSearchRedundancygroup'
                value: null
              ConnectionSearchZsidevlanstagctag:
                $ref: '#/components/examples/ConnectionSearchZsidevlanstagctag'
                value: null
              ConnectionSearchORwithNestedAND:
                $ref: '#/components/examples/ConnectionSearchORwithNestedAND'
                value: null
              ConnectionSearchZsideservicetokenuuid:
                $ref: '#/components/examples/ConnectionSearchZsideservicetokenuuid'
                value: null
              ConnectionSearchANDwithNestedOR:
                $ref: '#/components/examples/ConnectionSearchANDwithNestedOR'
                value: null
              ConnectionSearchAsidevirtualdeviceuuid:
                $ref: '#/components/examples/ConnectionSearchAsidevirtualdeviceuuid'
                value: null
              ConnectionSearchANDwithNestedIN:
                $ref: '#/components/examples/ConnectionSearchANDwithNestedIN'
                value: null
              ConnectionSearchAsideaccesspointname:
                $ref: '#/components/examples/ConnectionSearchAsideaccesspointname'
                value: null
              ConnectionSearchEquinixstatus:
                $ref: '#/components/examples/ConnectionSearchEquinixstatus'
                value: null
              ConnectionSearchChangestatus:
                $ref: '#/components/examples/ConnectionSearchChangestatus'
                value: null
              ConnectionSearchProjectid:
                $ref: '#/components/examples/ConnectionSearchProjectid'
                value: null
              ConnectionSearchZsideprofileuuid:
                $ref: '#/components/examples/ConnectionSearchZsideprofileuuid'
                value: null
              ConnectionSearchZsidemetrocodemetroname:
                $ref: '#/components/examples/ConnectionSearchZsidemetrocodemetroname'
                value: null
              ConnectionSearchCustorg:
                $ref: '#/components/examples/ConnectionSearchCustorg'
                value: null
              ConnectionSearchAsidemetrocodemetroname:
                $ref: '#/components/examples/ConnectionSearchAsidemetrocodemetroname'
                value: null
              ConnectionSearchANDClause:
                $ref: '#/components/examples/ConnectionSearchANDClause'
                value: null
              ConnectionSearchANDwithNestedOR-LIKE:
                $ref: '#/components/examples/ConnectionSearchANDwithNestedOR-LIKE'
                value: null
              ConnectionSearchUpdatedatetime:
                $ref: '#/components/examples/ConnectionSearchUpdatedatetime'
                value: null
              ConnectionSearchUuid:
                $ref: '#/components/examples/ConnectionSearchUuid'
                value: null
              ConnectionSearchRedundancypriority:
                $ref: '#/components/examples/ConnectionSearchRedundancypriority'
                value: null
              ConnectionSearchZsidevirtualdeviceuuid:
                $ref: '#/components/examples/ConnectionSearchZsidevirtualdeviceuuid'
                value: null
              ConnectionSearchAsidevlanstagctag:
                $ref: '#/components/examples/ConnectionSearchAsidevlanstagctag'
                value: null
              ConnectionSearchProviderstatus:
                $ref: '#/components/examples/ConnectionSearchProviderstatus'
                value: null
              ConnectionSearchDirection:
                $ref: '#/components/examples/ConnectionSearchDirection'
                value: null
              ConnectionSearchName:
                $ref: '#/components/examples/ConnectionSearchName'
                value: null
              ConnectionSearchZsideaccesspointname:
                $ref: '#/components/examples/ConnectionSearchZsideaccesspointname'
                value: null
            schema:
              $ref: '#/components/schemas/SearchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
              - bandwidth: 1000
                aSide:
                  accessPoint:
                    name: exmapple-access-point-name-aside
                    type: COLO
                    uuid: b840a1db-5639-639f-97e0-328a5c00a874
                    port:
                      uuid: a867f685-41b0-1b07-6de0-320a5c00abdd
                      href: https://api.equinix.com/fabric/v4/ports/a867f685-41b0-1b07-6de0-320a5c00abdd
                      redundancy:
                        priority: PRIMARY
                  linkProtocol:
                    type: DOT1Q
                    vlanTag: 1001
                isRemote: true
                changeLog:
                  createdDateTime: Thu May 21 10:30:00 UTC 2020
                  updatedDateTime: Thu May 21 10:30:00 UTC 2020
                type: EVPL_VC
                uuid: 3a58dd05-f46d-4b1d-a154-2e85c396ea62
                routingProtocols:
                - bgpAuthKey: testAuthKey
                  ipv4:
                    providerPeerIp: 169.254.255.1/30
                    customerPeerIp: 169.254.255.2/30
                  state: ACTIVE
                  providerAsn: 65000
                  type: EBGP
                  seqId: 03f7294b-42ce-42b6-9cc8-1e1b46d8183a
                  customerAsn: 65500
                zSide:
                  accessPoint:
                    name: exmapple-access-point-name-zside
                    location:
                      metroName: Mexico City
                      metroCode: MX
                      sellerRegion: us-west-1
                    type: SP
                    uuid: b840a1db-5639-639f-97e0-328a5c00a875
                    profile:
                      uuid: 22d4e853-ef33-4ff0-b5b2-a2b1d5dfa50c
                      href: https://api.equinix.com/fabric/v4/serviceProfiles/22d4e853-ef33-4ff0-b5b2-a2b1d5dfa50c
                name: My-Layer2-Connection
                href: https://api.equinix.com/fabric/v4/connections/3a58dd05-f46d-4b1d-a154-2e85c396ea62
                redundancy:
                  priority: PRIMARY
                operation:
                  equinixStatus: PROVISIONED
                  providerStatus: PROVISIONING
                direction: OUTGOING
              schema:
                $ref: '#/components/schemas/ConnectionSearchResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Not Found
      security:
      - BearerAuth: []
      summary: Search connections
      tags:
      - Connections
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/connections/bulk:
    post:
      description: This API provides capability to create bulk virtual connections
      operationId: createConnectionsInBulk
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              Colo2Generic:
                $ref: '#/components/examples/createBulkGeneric'
                value: null
              Vd2Colo-Redundant:
                $ref: '#/components/examples/Vd2Colo-Redundant'
                value: null
              Colo2NonGeneric:
                $ref: '#/components/examples/createBulkNonGeneric'
                value: null
              Vd2Sp-Redundant:
                $ref: '#/components/examples/Vd2Sp-Redundant'
                value: null
              Vd2ColoUntagged-Redundant:
                $ref: '#/components/examples/Vd2ColoUntagged-Redundant'
                value: null
            schema:
              $ref: '#/components/schemas/ConnectionBulkPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Vd2Colo-Redundant:
                  $ref: '#/components/examples/Vd2Colo-Redundant-Response'
                  value: null
                GenericResponse:
                  $ref: '#/components/examples/genericBulkCreateResponse'
                  value: null
                Vd2Sp-Redundant:
                  $ref: '#/components/examples/Vd2Sp-Redundant-Response'
                  value: null
                Vd2ColoUntagged-Redundant:
                  $ref: '#/components/examples/Vd2ColoUntagged-Redundant-Response'
                  value: null
                NonGenericResponse:
                  $ref: '#/components/examples/nonGenericCreateResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/ConnectionBulk'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      security:
      - BearerAuth: []
      summary: Bulk Connections
      tags:
      - Connections
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/connections/{connectionId}/routingProtocols/{routingProtocolId}/changes:
    get:
      description: This API provides capability to retrieve user's Routing Protocol
        Changes
      operationId: getConnectionRoutingProtocolsChanges
      parameters:
      - description: Connection Id
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
        style: simple
      - description: Routing Protocol Id
        explode: false
        in: path
        name: routingProtocolId
        required: true
        schema:
          $ref: '#/components/schemas/RoutingProtocolId'
        style: simple
      - description: offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: number of records to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                RoutingProtocolChangesResponse:
                  $ref: '#/components/examples/RoutingProtocolGetAllChangesResponseExample'
                  value: null
              schema:
                $ref: '#/components/schemas/RoutingProtocolChangeDataResponse'
          description: Fabric Routing Protocol Change object
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400_Invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404_invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Connection ID Not Found
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500_internal_error'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      security:
      - BearerAuth: []
      summary: Get Changes
      tags:
      - Routing Protocols
      x-accepts: application/json
  /fabric/v4/serviceTokens/search:
    post:
      description: "The API provides capability to get list of user's servicetokens\
        \ using search criteria, including optional filtering, pagination and sorting"
      operationId: searchServiceTokens
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              ServiceTokenRequest:
                $ref: '#/components/examples/postServiceTokenSearchUuid'
                value: null
            schema:
              $ref: '#/components/schemas/ServiceTokenSearchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                servicetokenSearchExample:
                  $ref: '#/components/examples/getServiceTokens'
                  value: null
              schema:
                $ref: '#/components/schemas/ServiceTokens'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500_internal_error'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      security:
      - BearerAuth: []
      summary: Search servicetokens
      tags:
      - Service Tokens
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/gateways/search:
    post:
      description: "The API provides capability to get list of user's Fabric Gateways\
        \ using search criteria, including optional filtering, pagination and sorting"
      operationId: searchGateways
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              SearchFilterOrAnd:
                $ref: '#/components/examples/SearchFilterOrAnd'
                value: null
              SearchFilterByStatus:
                $ref: '#/components/examples/SearchFilterByStatus'
                value: null
              SearchFilterByNameAndMetroName:
                $ref: '#/components/examples/SearchFilterByNameAndMetroName'
                value: null
            schema:
              $ref: '#/components/schemas/VirtualGatewaySearchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  $ref: '#/components/examples/search-example'
                  value: null
              schema:
                $ref: '#/components/schemas/SearchResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400_invalid_sorting'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "415":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/415'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unsupported Media Type
      security:
      - BearerAuth: []
      summary: Search Gateway
      tags:
      - Gateways
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/gatewayPackages/{gatewayPackageCode}:
    get:
      description: This API provides capability to retrieve user's Fabric Gateway
        Package Details
      operationId: getGatewayPackageByCode
      parameters:
      - description: Equinix-assigned gateway package identifier
        explode: false
        in: path
        name: gatewayPackageCode
        required: true
        schema:
          $ref: '#/components/schemas/GatewayPackageCode'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualGatewayPackage'
          description: Fabric Gateway Package details
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Not Found
      security:
      - BearerAuth: []
      summary: Get Package Details
      tags:
      - Gateways
      x-accepts: application/json
  /fabric/v4/gatewayPackages:
    get:
      description: This API provides capability to retrieve user's Fabric Gateway
        Packages
      operationId: getGatewayPackages
      parameters:
      - description: offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: number of records to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example:
                  $ref: '#/components/examples/list-packages-response'
                  value: null
              schema:
                $ref: '#/components/schemas/PackageResponse'
          description: Fabric Gateway Packages
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      security:
      - BearerAuth: []
      summary: List Packages
      tags:
      - Gateways
      x-accepts: application/json
  /fabric/v4/gateways:
    post:
      description: This API provides capability to create user's Fabric Gateways
      operationId: createGateway
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              CreateLimitedPackage:
                $ref: '#/components/examples/CreateLimitedPackage'
                value: null
              CreateAdvancedPackage:
                $ref: '#/components/examples/CreateAdvancedPackage'
                value: null
              CreatePremiumPackage:
                $ref: '#/components/examples/CreatePremiumPackage'
                value: null
              CreateBasicPackage:
                $ref: '#/components/examples/CreateBasicPackage'
                value: null
            schema:
              $ref: '#/components/schemas/VirtualGatewayPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                gatewayResponse:
                  $ref: '#/components/examples/GatewayPostResponseExample'
                  value: null
              schema:
                $ref: '#/components/schemas/VirtualGateway'
          description: Fabric Gateway Access point object
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400_invalid_package'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "415":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/415'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unsupported Media Type
      security:
      - BearerAuth: []
      summary: Create Gateway
      tags:
      - Gateways
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/serviceTokens:
    get:
      description: Get All ServiceTokens creates a list of all Equinix Fabric service
        tokens associated with the subscriber's account.
      operationId: getServiceTokens
      parameters:
      - description: offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: number
        style: form
      - description: number of records to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                tokenExample:
                  $ref: '#/components/examples/getServiceTokens'
                  value: null
                tokenCrhExample:
                  $ref: '#/components/examples/getServiceTokens-CRH'
                  value: null
              schema:
                $ref: '#/components/schemas/ServiceTokens'
          description: Successful operation
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
      security:
      - BearerAuth: []
      summary: Get All Tokens
      tags:
      - Service Tokens
      x-accepts: application/json
    post:
      description: Create Service Tokens generates Equinix Fabric™ service tokens.
        These tokens authorize users to access protected resources and services.
      operationId: createServiceToken
      requestBody:
        content:
          application/json:
            examples:
              ZsideTokenWithQnQ-CrhExample:
                $ref: '#/components/examples/createZsideServiceTokenWithQnQ-CRH'
                value: null
              AsideTokenWithQnQExample:
                $ref: '#/components/examples/createServiceTokenWithQnQ'
                value: null
              ZsideTokenWithQnQExample:
                $ref: '#/components/examples/createZsideServiceTokenWithQnQ'
                value: null
              AsideTokenWithDot1QExample:
                $ref: '#/components/examples/createServiceTokenWithDot1Q'
                value: null
              ZsideTokenWithDot1QExample:
                $ref: '#/components/examples/createZsideServiceTokenWithDot1Q'
                value: null
            schema:
              $ref: '#/components/schemas/ServiceToken'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                tokenExample:
                  $ref: '#/components/examples/getServiceToken'
                  value: null
                tokenCrhExample:
                  $ref: '#/components/examples/getServiceToken-CRH'
                  value: null
              schema:
                $ref: '#/components/schemas/ServiceToken'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
      security:
      - BearerAuth: []
      summary: Create Service Token
      tags:
      - Service Tokens
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/gateways/{gatewayId}:
    delete:
      description: This API provides capability to delete user's Fabric Gateway
      operationId: deleteGatewayByUuid
      parameters:
      - description: Gateway UUID
        explode: false
        in: path
        name: gatewayId
        required: true
        schema:
          $ref: '#/components/schemas/GatewayId'
        style: simple
      responses:
        "204":
          description: Deleted Gateway Successfully
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400_invalid_state'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Not Found
      security:
      - BearerAuth: []
      summary: Delete Gateway
      tags:
      - Gateways
      x-accepts: application/json
    get:
      description: This API provides capability to retrieve user's Fabric Gateway
      operationId: getGatewayByUuid
      parameters:
      - description: Gateway UUID
        explode: false
        in: path
        name: gatewayId
        required: true
        schema:
          $ref: '#/components/schemas/GatewayId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                gatewayResponse:
                  $ref: '#/components/examples/GatewayResponseExample'
                  value: null
              schema:
                $ref: '#/components/schemas/VirtualGateway'
          description: Fabric Gateway Access point object
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Not Found
      security:
      - BearerAuth: []
      summary: Get Gateway
      tags:
      - Gateways
      x-accepts: application/json
    patch:
      description: This API provides capability to update user's Fabric Gateway
      operationId: updateGatewayByUuid
      parameters:
      - description: Gateway UUID
        explode: false
        in: path
        name: gatewayId
        required: true
        schema:
          $ref: '#/components/schemas/GatewayId'
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            examples:
              UpdatePackage:
                $ref: '#/components/examples/UpdatePackage'
                value: null
              UpdateName:
                $ref: '#/components/examples/UpdateName'
                value: null
              UpdateNotificationEmail:
                $ref: '#/components/examples/UpdateNotifications'
                value: null
            schema:
              $ref: '#/components/schemas/VirtualGatewayUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                gatewayResponse:
                  $ref: '#/components/examples/GatewayPatchResponseExample'
                  value: null
              schema:
                $ref: '#/components/schemas/VirtualGateway'
          description: Fabric Gateway Access point object
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400_invalid_operation'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Not Found
        "415":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/415'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unsupported Media Type
      security:
      - BearerAuth: []
      summary: Update Gateway
      tags:
      - Gateways
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /fabric/v4/gateways/{gatewayId}/actions:
    get:
      description: This API provides capability to fetch action status
      operationId: getGatewayActions
      parameters:
      - description: Gateway UUID
        explode: false
        in: path
        name: gatewayId
        required: true
        schema:
          $ref: '#/components/schemas/GatewayId'
        style: simple
      - description: Action state
        explode: true
        in: query
        name: state
        required: false
        schema:
          $ref: '#/components/schemas/ActionState'
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                gatewayActionExample:
                  $ref: '#/components/examples/GatewayActionResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/GatewayActionResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400_invalid_operation'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "415":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/415'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      security:
      - BearerAuth: []
      summary: Get actions
      tags:
      - Gateways
      x-accepts: application/json
    post:
      description: This API provides capability to refresh route table and bgp session
        summary information
      operationId: createGatewayAction
      parameters:
      - description: Gateway UUID
        explode: false
        in: path
        name: gatewayId
        required: true
        schema:
          $ref: '#/components/schemas/GatewayId'
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              RouteEntriesStatusUpdate:
                $ref: '#/components/examples/RouteEntriesStatusUpdate'
                value: null
            schema:
              $ref: '#/components/schemas/GatewayActionRequest'
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                gatewayActionExample:
                  $ref: '#/components/examples/GatewayActionResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/GatewayActionResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400_invalid_operation'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "415":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/415'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      security:
      - BearerAuth: []
      summary: Route table actions
      tags:
      - Gateways
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/connections/{connectionId}/routingProtocols/{routingProtocolId}:
    delete:
      description: This API provides capability to delete Routing Protocols on virtual
        connection
      operationId: deleteConnectionRoutingProtocolByUuid
      parameters:
      - description: Routing Protocol Id
        explode: false
        in: path
        name: routingProtocolId
        required: true
        schema:
          $ref: '#/components/schemas/RoutingProtocolId'
        style: simple
      - description: Connection Id
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
        style: simple
      responses:
        "202":
          content:
            application/json:
              examples:
                directDeleteResponse:
                  $ref: '#/components/examples/RoutingProtocolDeleteDirectResponse'
                  value: null
                bgpDeleteResponse:
                  $ref: '#/components/examples/RoutingProtocolDeleteBGPResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/RoutingProtocolData'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404_invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Connection ID Not Found
        "415":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/415'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500_internal_error'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      security:
      - BearerAuth: []
      summary: Delete Protocol
      tags:
      - Routing Protocols
      x-accepts: application/json
    get:
      description: This API provides capability to accept/reject user's virtual connection
      operationId: getConnectionRoutingProtocolByUuid
      parameters:
      - description: Routing Protocol Id
        explode: false
        in: path
        name: routingProtocolId
        required: true
        schema:
          $ref: '#/components/schemas/RoutingProtocolId'
        style: simple
      - description: Connection Id
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                bgpCreateResponse:
                  $ref: '#/components/examples/RoutingProtocolCreateBGPResponse'
                  value: null
                directCreateResponse:
                  $ref: '#/components/examples/RoutingProtocolCreateDirectResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/RoutingProtocolData'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404_invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Connection ID Not Found
        "415":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/415'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500_internal_error'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      security:
      - BearerAuth: []
      summary: Get Protocol
      tags:
      - Routing Protocols
      x-accepts: application/json
    put:
      description: This API provides capability to replace complete Routing Protocols
        on a virtual connection
      operationId: replaceConnectionRoutingProtocolByUuid
      parameters:
      - description: Routing Protocol Id
        explode: false
        in: path
        name: routingProtocolId
        required: true
        schema:
          $ref: '#/components/schemas/RoutingProtocolId'
        style: simple
      - description: Connection Id
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              DirectRoutingReplaceExample:
                $ref: '#/components/examples/UpdateRoutingWithDirectOnly'
                value: null
              BGPRoutingReplaceExample:
                $ref: '#/components/examples/UpdateRoutingWithBGPOnly'
                value: null
            schema:
              $ref: '#/components/schemas/RoutingProtocolBase'
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                bgpReplaceResponse:
                  $ref: '#/components/examples/RoutingProtocolReplaceBGPResponse'
                  value: null
                directReplaceResponse:
                  $ref: '#/components/examples/RoutingProtocolReplaceDirectResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/RoutingProtocolData'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404_invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Connection ID Not Found
        "415":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/415'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500_internal_error'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      security:
      - BearerAuth: []
      summary: Replace Protocol
      tags:
      - Routing Protocols
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/networks/{networkId}:
    delete:
      description: This API provides capability to delete user's Fabric Network
      operationId: deleteNetworkByUuid
      parameters:
      - description: Network UUID
        explode: false
        in: path
        name: networkId
        required: true
        schema:
          $ref: '#/components/schemas/NetworkId'
        style: simple
      responses:
        "202":
          content:
            application/json:
              examples:
                networkResponse:
                  $ref: '#/components/examples/NetworkDeleteResponseExample'
                  value: null
              schema:
                $ref: '#/components/schemas/Network'
          description: Fabric Network Access point object
[...]
