openapi: 3.0.3
info:
  contact:
    email: api-support@equinix.com
    name: Equinix API Support
    url: https://equinix.com/about/
  description: "Equinix Fabric is an advanced software-defined interconnection solution\
    \ that enables you to directly, securely and dynamically connect to distributed\
    \ infrastructure and digital ecosystems on platform Equinix via a single port,\
    \ Customers can use Fabric to connect to: </br> 1. Cloud Service Providers - Clouds,\
    \ network and other service providers.  </br> 2. Enterprises - Other Equinix customers,\
    \ vendors and partners.  </br> 3. Myself - Another customer instance deployed\
    \ at Equinix. </br>"
  license:
    name: Equinix Inc
    url: https://developer.equinix.com/agreement
  termsOfService: https://www.equinix.com/about/legal/terms
  title: Equinix Fabric API v4
  version: "4.10"
externalDocs:
  description: Find more information on Equinix Developer Portal
  url: https://developer.equinix.com
servers:
- description: Equinix Inc
  url: https://api.equinix.com
security:
- BearerAuth: []
tags:
- description: Cloud Routers <font color="red"> <sup color='red'>Preview</sup></font>
  name: Cloud Routers
- description: Connections
  name: Connections
- description: Metros
  name: Metros
- description: Ports
  name: Ports
- description: Precision Time <font color="red"> <sup color='red'>Preview</sup></font>
  name: Precision Time
- description: Prices
  name: Prices
- description: Routing Protocols
  name: Routing Protocols
- description: Service Profiles
  name: Service Profiles
- description: Service Tokens
  name: Service Tokens
- description: Statistics
  name: Statistics
paths:
  /fabric/v4/connections:
    post:
      description: This API provides capability to create user's virtual connection
      operationId: createConnection
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              Colo2Colo-Dot1q2Dot1q:
                $ref: '#/components/examples/COLO2COLOwithDot1q-Dot1q'
                value: null
              Colo2Colo-Dot1q2Dot1q-CRH:
                $ref: '#/components/examples/COLO2COLOwithDot1q-Dot1q-CRH'
                value: null
              Colo2Colo-Dot1q2Qinq:
                $ref: '#/components/examples/COLO2COLOwithDot1Q-QinQ'
                value: null
              Colo2Colo-Qinq2Qinq:
                $ref: '#/components/examples/COLO2COLOwithQinq-Qinq'
                value: null
              Colo2Colo-Qinq2Dot1q:
                $ref: '#/components/examples/COLO2COLOwithQinq-Dot1q'
                value: null
              Colo2Colo-AsResellerForSubCustomer:
                $ref: '#/components/examples/COLO2COLO-AsReseller'
                value: null
              Colo2Colo-Epl:
                $ref: '#/components/examples/COLO2COLO-EPL'
                value: null
              Colo2Colo-AccessEpl:
                $ref: '#/components/examples/COLO2COLO-AccessEpl'
                value: null
              Colo2Sp-Generic:
                $ref: '#/components/examples/COLO2SPwithDot1q'
                value: null
              Colo2Sp-NetworkEdgeGeneric:
                $ref: '#/components/examples/COLO2SPwithDot1q'
                value: null
              Colo2Sp-Alibaba:
                $ref: '#/components/examples/COLO2AlibabaSPwithDot1q'
                value: null
              Colo2Sp-Aws-Primary:
                $ref: '#/components/examples/COLO2AWSSPwithDot1q-Primary'
                value: null
              Colo2Sp-Aws-Secondary:
                $ref: '#/components/examples/COLO2AWSSPwithDot1q-Secondary'
                value: null
              Colo2Sp-AzureDot1Q:
                $ref: '#/components/examples/COLO2AzureSPwithDot1q-Primary'
                value: null
              Colo2Sp-AzureQinq:
                $ref: '#/components/examples/COLO2AzureSPwithQinq-Secondary'
                value: null
              Colo2Sp-Google:
                $ref: '#/components/examples/COLO2GoogleSPwithDot1q'
                value: null
              Colo2Sp-Ibm_1.0:
                $ref: '#/components/examples/COLO2IBM_1'
                value: null
              Colo2Sp-Ibm_2.0:
                $ref: '#/components/examples/COLO2IBM_2'
                value: null
              Colo2Sp-Oracle:
                $ref: '#/components/examples/COLO2OracleSPwithDot1q'
                value: null
              Colo2ServiceToken:
                $ref: '#/components/examples/COLO2ServiceToken'
                value: null
              Colo2Network-EVPLAN_VC:
                $ref: '#/components/examples/COLO2NETWORKwithDot1q'
                value: null
              Colo2Network-EPLAN_VC:
                $ref: '#/components/examples/COLO2NETWORKwithEPL'
                value: null
              Vd2Sp-Primary:
                $ref: '#/components/examples/Vd2Sp-Primary'
                value: null
              Vd2Sp-Secondary:
                $ref: '#/components/examples/Vd2Sp-Secondary'
                value: null
              Vd2Colo:
                $ref: '#/components/examples/Vd2Colo'
                value: null
              Vd2Colo-vlanTag:
                $ref: '#/components/examples/Vd2ColoVlanTag'
                value: null
              Vd2Colo-vlanCTag:
                $ref: '#/components/examples/Vd2Colo-VlanCTag'
                value: null
              Vd2ColoUntagged:
                $ref: '#/components/examples/Vd2ColoUntagged'
                value: null
              Vd2ServiceToken:
                $ref: '#/components/examples/Vd2ServiceToken'
                value: null
              Fcr2Colo:
                $ref: '#/components/examples/Fcr2Colo'
                value: null
              Fcr2Sp-Google:
                $ref: '#/components/examples/Fcr2Sp-Google'
                value: null
              Fcr2Sp-Azure:
                $ref: '#/components/examples/Fcr2Sp-Azure'
                value: null
              Fcr2Sp-Generic:
                $ref: '#/components/examples/Fcr2Sp-Generic'
                value: null
              Fcr2Sp-Generic-Redundant-Primary:
                $ref: '#/components/examples/Fcr2Sp-Generic'
                value: null
              Fcr2Sp-Generic-Redundant-Secondary:
                $ref: '#/components/examples/Fcr2Sp-Generic-Redundant-Secondary'
                value: null
              Fcr2Sp-Generic-Redundant-Primary-re-add:
                $ref: '#/components/examples/Fcr2Sp-Generic-Redundant-Primary'
                value: null
              Fcr2Sp-Aws:
                $ref: '#/components/examples/Fcr2Sp-Aws'
                value: null
              Fcr2Sp-Oracle:
                $ref: '#/components/examples/Fcr2Sp-Oracle'
                value: null
              Fcr2Vd:
                $ref: '#/components/examples/Fcr2Vd'
                value: null
              Fcr2IpWan:
                $ref: '#/components/examples/Fcr2IpWan'
                value: null
              AsideServiceToken2ColoWithDot1q:
                $ref: '#/components/examples/AsideServiceToken2PortWithDot1q'
                value: null
              AsideServiceToken2ColoWithQinq:
                $ref: '#/components/examples/AsideServiceToken2PortWithQinq'
                value: null
              AsideServiceToken2PrivateSP-NE:
                $ref: '#/components/examples/AsideServiceToken2PrivateSP-NE'
                value: null
              AsideServiceToken2ZsideServiceToken:
                $ref: '#/components/examples/AsideServiceToken2ZsideServiceToken'
                value: null
            schema:
              $ref: '#/components/schemas/ConnectionPostRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                Colo2Sp:
                  $ref: '#/components/examples/ConnectionExample'
                  value: null
                Vd2Sp:
                  $ref: '#/components/examples/Vd2Sp-Response'
                  value: null
                Vd2Token:
                  $ref: '#/components/examples/Vd2ServiceToken_Response'
                  value: null
                Vd2Colo:
                  $ref: '#/components/examples/Vd2Colo-Response'
                  value: null
                Vd2Colo-tag:
                  $ref: '#/components/examples/Vd2Colo-VlanTagResponse'
                  value: null
                Vd2ColoUntagged:
                  $ref: '#/components/examples/Vd2ColoUntagged-Response'
                  value: null
                Fcr2Sp:
                  $ref: '#/components/examples/Fcr2Sp-Response'
                  value: null
                Fcr2Colo:
                  $ref: '#/components/examples/Fcr2Colo-ResponseExample'
                  value: null
                Fcr2IpWan:
                  $ref: '#/components/examples/Fcr2IpWan-response'
                  value: null
                ServiceToken2PortResponseDot1Q:
                  $ref: '#/components/examples/AsideServiceToken2PortResponseWithDot1q'
                  value: null
                ServiceToken2PortResponseQinQ:
                  $ref: '#/components/examples/AsideServiceToken2PortResponseWithQinq'
                  value: null
              schema:
                $ref: '#/components/schemas/Connection'
          description: Accept Connection Request
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/405'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Method not allowed
      summary: Create Connection
      tags:
      - Connections
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/connections/{connectionId}:
    delete:
      description: Delete Connection by ID
      operationId: deleteConnectionByUuid
      parameters:
      - description: Connection UUID
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/VirtualCircuitId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                connectionExample:
                  $ref: '#/components/examples/ConnectionDeletionResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/Connection'
          description: Delete Connection Request
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400-delete'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403-delete'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Not Found
        "405":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/405'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Method not allowed
      summary: Delete by ID
      tags:
      - Connections
      x-accepts: application/json
    get:
      description: "The API provides capability to get user's virtual connection details\
        \ (Service Tokens, Access Points, Link Protocols, etc) by it's connection\
        \ ID (UUID)"
      operationId: getConnectionByUuid
      parameters:
      - description: Connection Id
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
        style: simple
      - description: Connection Direction
        explode: true
        in: query
        name: direction
        required: false
        schema:
          $ref: '#/components/schemas/ConnectionDirection'
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                nonGenericConnectionResponse:
                  $ref: '#/components/examples/NonGenericConnectionResponseExample'
                  value: null
                genericConnectionResponse:
                  $ref: '#/components/examples/GenericConnectionResponseExample'
                  value: null
              schema:
                $ref: '#/components/schemas/Connection'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400_Invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Not Found
      summary: Get Connection by ID
      tags:
      - Connections
      x-accepts: application/json
    patch:
      description: Update Connection by ID
      operationId: updateConnectionByUuid
      parameters:
      - description: Connection Id
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            examples:
              ConnectionUpdateNameRequest:
                $ref: '#/components/examples/ConnectionUpdateNameRequest'
                value: null
              ConnectionUpdateBandwidthRequest:
                $ref: '#/components/examples/ConnectionUpdateBandwidthRequest'
                value: null
              ConnectionAddAccessAndSecretKeyAWSRequest:
                $ref: '#/components/examples/ConnectionAddAccessAndSecretKeyAWSRequest'
                value: null
              ConnectionAddRoutingRequest:
                $ref: '#/components/examples/ConnectionAddRoutingRequest'
                value: null
              ConnectionMigrationAsideRequest:
                $ref: '#/components/examples/ConnectionMigrationAsideRequest'
                value: null
              ConnectionUpdateNotificationEmailRequest:
                $ref: '#/components/examples/ConnectionUpdateNotificationEmailRequest'
                value: null
              ConnectionMigrationAsideRequestForVirtualDevice:
                $ref: '#/components/examples/ConnectionMigrationAsideVirtualDeviceRequest'
                value: null
            schema:
              $ref: '#/components/schemas/ConnectionUpdateRequest'
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                connectionPatchExample:
                  $ref: '#/components/examples/ConnectionPatchResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/Connection'
          description: Successful operation
          links:
            Get Connection Details:
              operationId: getConnectionByUuid
              parameters:
                connectionId: $response.body#/uuid
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Not Found
      summary: Update by ID
      tags:
      - Connections
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /fabric/v4/connections/{connectionId}/actions:
    post:
      description: This API provides capability to accept/reject user's virtual connection
      operationId: createConnectionAction
      parameters:
      - description: Connection Id
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              ApproveGenericConnection:
                $ref: '#/components/examples/Connection_Creation_Acceptance'
                value: null
              RejectGenericConnection:
                $ref: '#/components/examples/Connection_Creation_Rejection'
                value: null
              ApproveBandwidthUpdate:
                $ref: '#/components/examples/Connection_Update_Acceptance'
                value: null
              RejectBandwidthUpdate:
                $ref: '#/components/examples/Connection_Update_Rejection'
                value: null
              AcceptDeleteConnection:
                $ref: '#/components/examples/Connection_Deletion_Acceptance'
                value: null
              VcMigrationZSide:
                $ref: '#/components/examples/Connection_Update_Request_VC_Migration'
                value: null
              BGPSync:
                $ref: '#/components/examples/Connection_Provider_Status_Request'
                value: null
              AcceptZSide-NetworkEdge:
                $ref: '#/components/examples/AcceptZSide_NetworkEdge_Request'
                value: null
            schema:
              $ref: '#/components/schemas/ConnectionActionRequest'
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                connectionActionExample:
                  $ref: '#/components/examples/ConnectionActionResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/ConnectionAction'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Not Found
      summary: Connection Actions
      tags:
      - Connections
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/connections/{connectionId}/routingProtocols:
    get:
      description: This API provides capability to get Routing Protocols for connections
      operationId: getConnectionRoutingProtocols
      parameters:
      - description: offset
        example: 1
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: number of records to fetch
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: Connection Id
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                getAllRoutingProtocols:
                  $ref: '#/components/examples/RoutingProtocolGetAll'
                  value: null
              schema:
                $ref: '#/components/schemas/GetResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404_invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Connection ID Not Found
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500_internal_error'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      summary: GetRoutingProtocols
      tags:
      - Routing Protocols
      x-accepts: application/json
    post:
      description: This API provides capability to create Routing Protocol for connections
      operationId: createConnectionRoutingProtocol
      parameters:
      - description: Connection Id
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              Fcr2ColoDirectRoutingOnly:
                $ref: '#/components/examples/Fcr2ColoCreateDirect'
                value: null
              Fcr2ColoBGPRoutingOnly:
                $ref: '#/components/examples/Fcr2ColoCreateBGP'
                value: null
              Fcr2GcpDirectRoutingOnly:
                $ref: '#/components/examples/Fcr2GcpCreateDirect'
                value: null
              Fcr2GcpBGPRoutingOnly:
                $ref: '#/components/examples/Fcr2GcpCreateBGP'
                value: null
            schema:
              $ref: '#/components/schemas/RoutingProtocolBase'
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                bgpCreateResponse:
                  $ref: '#/components/examples/RoutingProtocolCreateBGPResponse'
                  value: null
                directCreateResponse:
                  $ref: '#/components/examples/RoutingProtocolCreateDirectResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/RoutingProtocolData'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404_invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Connection ID Not Found
        "415":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/415'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500_internal_error'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      summary: Create Protocol
      tags:
      - Routing Protocols
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/connections/{connectionId}/routingProtocols/bulk:
    post:
      description: This API provides capability to create Routing Protocol for connections
      operationId: createConnectionRoutingProtocolsInBulk
      parameters:
      - description: Connection Id
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              DirectRoutingOnly:
                $ref: '#/components/examples/CreateRoutingWithDirectOnly'
                value: null
              BGPRoutingOnly:
                $ref: '#/components/examples/CreateRoutingWithBGPOnly'
                value: null
              DirectAndBGPRouting:
                $ref: '#/components/examples/CreateRoutingWithDirectAndBGP'
                value: null
            schema:
              $ref: '#/components/schemas/ConnectionRoutingProtocolPostRequest'
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                getAllRoutingProtocols:
                  $ref: '#/components/examples/RoutingProtocolGetAll'
                  value: null
              schema:
                $ref: '#/components/schemas/GetResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404_invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Connection ID Not Found
        "415":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/415'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500_internal_error'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      summary: Bulk Create Protocol
      tags:
      - Routing Protocols
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/connections/{connectionId}/routingProtocols/{routingProtocolId}:
    delete:
      description: This API provides capability to delete Routing Protocols on virtual
        connection
      operationId: deleteConnectionRoutingProtocolByUuid
      parameters:
      - description: Routing Protocol Id
        explode: false
        in: path
        name: routingProtocolId
        required: true
        schema:
          $ref: '#/components/schemas/RoutingProtocolId'
        style: simple
      - description: Connection Id
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
        style: simple
      responses:
        "202":
          content:
            application/json:
              examples:
                directDeleteResponse:
                  $ref: '#/components/examples/RoutingProtocolDeleteDirectResponse'
                  value: null
                bgpDeleteResponse:
                  $ref: '#/components/examples/RoutingProtocolDeleteBGPResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/RoutingProtocolData'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404_invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Connection ID Not Found
        "415":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/415'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500_internal_error'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      summary: Delete Protocol
      tags:
      - Routing Protocols
      x-accepts: application/json
    get:
      description: This API provides capability to accept/reject user's virtual connection
      operationId: getConnectionRoutingProtocolByUuid
      parameters:
      - description: Routing Protocol Id
        explode: false
        in: path
        name: routingProtocolId
        required: true
        schema:
          $ref: '#/components/schemas/RoutingProtocolId'
        style: simple
      - description: Connection Id
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                bgpCreateResponse:
                  $ref: '#/components/examples/RoutingProtocolCreateBGPResponse'
                  value: null
                directCreateResponse:
                  $ref: '#/components/examples/RoutingProtocolCreateDirectResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/RoutingProtocolData'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404_invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Connection ID Not Found
        "415":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/415'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500_internal_error'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      summary: Get Protocol
      tags:
      - Routing Protocols
      x-accepts: application/json
    patch:
      description: This API provides capability to partially update Routing Protocols
        on a virtual connection
      operationId: patchConnectionRoutingProtocolByUuid
      parameters:
      - description: Routing Protocol Id
        explode: false
        in: path
        name: routingProtocolId
        required: true
        schema:
          $ref: '#/components/schemas/RoutingProtocolId'
        style: simple
      - description: Connection Id
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              EnableIPv4PatchExample:
                $ref: '#/components/examples/PatchRoutingProtocolEnableIPv4'
                value: null
              EnableIPv6PatchExample:
                $ref: '#/components/examples/PatchRoutingProtocolEnableIPv6'
                value: null
              DisableIPv4PatchExample:
                $ref: '#/components/examples/PatchRoutingProtocolDisableIPv4'
                value: null
              DisableIPv6PatchExample:
                $ref: '#/components/examples/PatchRoutingProtocolDisableIPv6'
                value: null
            schema:
              $ref: '#/components/schemas/ConnectionRoutingProtocolPatchRequest'
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                EnableBGPResponse:
                  $ref: '#/components/examples/RoutingProtocolEnableBGPResponse'
                  value: null
                DisableBGPResponse:
                  $ref: '#/components/examples/RoutingProtocolDisableBGPResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/RoutingProtocolData'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404_invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Connection ID Not Found
        "415":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/415'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500_internal_error'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      summary: Patch Protocol
      tags:
      - Routing Protocols
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: This API provides capability to replace complete Routing Protocols
        on a virtual connection
      operationId: replaceConnectionRoutingProtocolByUuid
      parameters:
      - description: Routing Protocol Id
        explode: false
        in: path
        name: routingProtocolId
        required: true
        schema:
          $ref: '#/components/schemas/RoutingProtocolId'
        style: simple
      - description: Connection Id
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              DirectRoutingReplaceExample:
                $ref: '#/components/examples/UpdateRoutingWithDirectOnly'
                value: null
              BGPRoutingReplaceExample:
                $ref: '#/components/examples/UpdateRoutingWithBGPOnly'
                value: null
            schema:
              $ref: '#/components/schemas/RoutingProtocolBase'
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                bgpReplaceResponse:
                  $ref: '#/components/examples/RoutingProtocolReplaceBGPResponse'
                  value: null
                directReplaceResponse:
                  $ref: '#/components/examples/RoutingProtocolReplaceDirectResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/RoutingProtocolData'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404_invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Connection ID Not Found
        "415":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/415'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500_internal_error'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      summary: Replace Protocol
      tags:
      - Routing Protocols
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/connections/{connectionId}/routingProtocols/{routingProtocolId}/actions:
    get:
      description: This API provides capability to get all BGP actions status
      operationId: getConnectionRoutingProtocolAllBgpActions
      parameters:
      - description: Routing Protocol Id
        explode: false
        in: path
        name: routingProtocolId
        required: true
        schema:
          $ref: '#/components/schemas/RoutingProtocolId'
        style: simple
      - description: Connection Id
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
        style: simple
      - description: offset
        example: 1
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: number of records to fetch
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                BGPActionsAllResponse:
                  $ref: '#/components/examples/BGPActionsBulkDataResponseExample'
                  value: null
              schema:
                $ref: '#/components/schemas/BGPActionsBulkData'
          description: Fabric BGP Action object
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404_invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Connection ID Not Found
        "415":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/415'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500_internal_error'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      summary: Get BGP Actions
      tags:
      - Routing Protocols
      x-accepts: application/json
    post:
      description: This API provides capability to clear/reset Routing Protocols BGP
        session
      operationId: postConnectionRoutingProtocolBgpActionByUuid
      parameters:
      - description: Routing Protocol Id
        explode: false
        in: path
        name: routingProtocolId
        required: true
        schema:
          $ref: '#/components/schemas/RoutingProtocolId'
        style: simple
      - description: Connection Id
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              BGPSoftClearInAndOutBoundIPv4:
                $ref: '#/components/examples/BGPSoftClearInAndOutBoundIPv4'
                value: null
              BGPSoftClearInAndOutBoundIPv6:
                $ref: '#/components/examples/BGPSoftClearInAndOutBoundIPv6'
                value: null
              BGPSoftClearInBoundIPv4:
                $ref: '#/components/examples/BGPSoftClearInBoundIPv4'
                value: null
              BGPSoftClearInBoundIPv6:
                $ref: '#/components/examples/BGPSoftClearInBoundIPv6'
                value: null
              BGPHardResetIPv4:
                $ref: '#/components/examples/BGPHardResetIPv4'
                value: null
              BGPHardResetIPv6:
                $ref: '#/components/examples/BGPHardResetIPv6'
                value: null
            schema:
              $ref: '#/components/schemas/BGPActionRequest'
        required: true
      responses:
        "202":
          content:
            application/json:
              examples:
                BGPActionHardResetIpV4:
                  $ref: '#/components/examples/BGPHardResetIPv4Response'
                  value: null
                BGPActionHardResetIpV6:
                  $ref: '#/components/examples/BGPHardResetIPv6Response'
                  value: null
                BGPActionSoftClearInAndOutIpV4:
                  $ref: '#/components/examples/BGPSoftClearInAndOutBoundIPv4Response'
                  value: null
                BGPActionSoftClearInAndOutIpV6:
                  $ref: '#/components/examples/BGPSoftClearInAndOutBoundIPv6Response'
                  value: null
                BGPActionSoftClearInIpV4:
                  $ref: '#/components/examples/BGPSoftClearInBoundIPv4Response'
                  value: null
                BGPActionSoftClearInIpV6:
                  $ref: '#/components/examples/BGPSoftClearInBoundIPv6Response'
                  value: null
              schema:
                $ref: '#/components/schemas/BGPActionData'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404_invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Connection ID Not Found
        "415":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/415'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unsupported Media Type
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500_internal_error'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      summary: Clear/Reset BGP
      tags:
      - Routing Protocols
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/connections/{connectionId}/routingProtocols/{routingProtocolId}/actions/{actionId}:
    get:
      description: This API provides capability to retrieve specific BGP action
      operationId: getConnectionRoutingProtocolsBgpActionByUuid
      parameters:
      - description: Connection Id
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
        style: simple
      - description: Routing Protocol Id
        explode: false
        in: path
        name: routingProtocolId
        required: true
        schema:
          $ref: '#/components/schemas/RoutingProtocolId'
        style: simple
      - description: BGP Action UUID
        explode: false
        in: path
        name: actionId
        required: true
        schema:
          $ref: '#/components/schemas/ActionId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                BGPActionResponse:
                  $ref: '#/components/examples/BGPActionDataResponseExample'
                  value: null
              schema:
                $ref: '#/components/schemas/BGPActionData'
          description: Fabric BGP Action object
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400_Invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404_invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Connection ID Not Found
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500_internal_error'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      summary: Get BGP Action
      tags:
      - Routing Protocols
      x-accepts: application/json
  /fabric/v4/connections/{connectionId}/routingProtocols/{routingProtocolId}/changes/{changeId}:
    get:
      description: This API provides capability to retrieve specific Routing Protocol
        Change
      operationId: getConnectionRoutingProtocolsChangeByUuid
      parameters:
      - description: Connection Id
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
        style: simple
      - description: Routing Protocol Id
        explode: false
        in: path
        name: routingProtocolId
        required: true
        schema:
          $ref: '#/components/schemas/RoutingProtocolId'
        style: simple
      - description: Routing Protocol Change UUID
        explode: false
        in: path
        name: changeId
        required: true
        schema:
          $ref: '#/components/schemas/ChangeId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                RoutingProtocolChangeResponse:
                  $ref: '#/components/examples/RoutingProtocolGetChangeResponseExample'
                  value: null
              schema:
                $ref: '#/components/schemas/RoutingProtocolChangeData'
          description: Fabric Routing Protocol Change object
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400_Invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404_invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Connection ID Not Found
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500_internal_error'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      summary: Get Change By ID
      tags:
      - Routing Protocols
      x-accepts: application/json
  /fabric/v4/connections/{connectionId}/routingProtocols/{routingProtocolId}/changes:
    get:
      description: This API provides capability to retrieve user's Routing Protocol
        Changes
      operationId: getConnectionRoutingProtocolsChanges
      parameters:
      - description: Connection Id
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/ConnectionId'
        style: simple
      - description: Routing Protocol Id
        explode: false
        in: path
        name: routingProtocolId
        required: true
        schema:
          $ref: '#/components/schemas/RoutingProtocolId'
        style: simple
      - description: offset
        example: 1
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: number of records to fetch
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                RoutingProtocolChangesResponse:
                  $ref: '#/components/examples/RoutingProtocolGetAllChangesResponseExample'
                  value: null
              schema:
                $ref: '#/components/schemas/RoutingProtocolChangeDataResponse'
          description: Fabric Routing Protocol Change object
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400_Invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404_invalid_id'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Connection ID Not Found
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500_internal_error'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      summary: Get Changes
      tags:
      - Routing Protocols
      x-accepts: application/json
  /fabric/v4/connections/search:
    post:
      description: "The API provides capability to get list of user's virtual connections\
        \ using search criteria, including optional filtering, pagination and sorting"
      operationId: searchConnections
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              ConnectionSearchDirection:
                $ref: '#/components/examples/ConnectionSearchDirection'
                value: null
              ConnectionSearchIsremote:
                $ref: '#/components/examples/ConnectionSearchIsremote'
                value: null
              ConnectionSearchName:
                $ref: '#/components/examples/ConnectionSearchName'
                value: null
              ConnectionSearchUuid:
                $ref: '#/components/examples/ConnectionSearchUuid'
                value: null
              ConnectionSearchCustorg:
                $ref: '#/components/examples/ConnectionSearchCustorg'
                value: null
              ConnectionSearchAccountname:
                $ref: '#/components/examples/ConnectionSearchAccountname'
                value: null
              ConnectionSearchCloudRouteruuid:
                $ref: '#/components/examples/ConnectionSearchCloudRouteruuid'
                value: null
              ConnectionSearchAsidevlanstagctag:
                $ref: '#/components/examples/ConnectionSearchAsidevlanstagctag'
                value: null
              ConnectionSearchAsidemetrocodemetroname:
                $ref: '#/components/examples/ConnectionSearchAsidemetrocodemetroname'
                value: null
              ConnectionSearchAsideaccesspointname:
                $ref: '#/components/examples/ConnectionSearchAsideaccesspointname'
                value: null
              ConnectionSearchAsideaccesspointuuid:
                $ref: '#/components/examples/ConnectionSearchAsideaccesspointuuid'
                value: null
              ConnectionSearchAsideaccesspointtype:
                $ref: '#/components/examples/ConnectionSearchAsideaccesspointtype'
                value: null
              ConnectionSearchAsidevirtualdevicename:
                $ref: '#/components/examples/ConnectionSearchAsidevirtualdevicename'
                value: null
              ConnectionSearchAsidevirtualdeviceuuid:
                $ref: '#/components/examples/ConnectionSearchAsidevirtualdeviceuuid'
                value: null
              ConnectionSearchAsideservicetokenuuid:
                $ref: '#/components/examples/ConnectionSearchAsideservicetokenuuid'
                value: null
              ConnectionSearchChangestatus:
                $ref: '#/components/examples/ConnectionSearchChangestatus'
                value: null
              ConnectionSearchUpdatedatetime:
                $ref: '#/components/examples/ConnectionSearchUpdatedatetime'
                value: null
              ConnectionSearchEquinixstatus:
                $ref: '#/components/examples/ConnectionSearchEquinixstatus'
                value: null
              ConnectionSearchProviderstatus:
                $ref: '#/components/examples/ConnectionSearchProviderstatus'
                value: null
              ConnectionSearchProjectid:
                $ref: '#/components/examples/ConnectionSearchProjectidOPtional-CRH'
                value: null
              ConnectionSearchRedundancygroup:
                $ref: '#/components/examples/ConnectionSearchRedundancygroup'
                value: null
              ConnectionSearchRedundancypriority:
                $ref: '#/components/examples/ConnectionSearchRedundancypriority'
                value: null
              ConnectionSearchZsidevlanstagctag:
                $ref: '#/components/examples/ConnectionSearchZsidevlanstagctag'
                value: null
              ConnectionSearchZsidemetrocodemetroname:
                $ref: '#/components/examples/ConnectionSearchZsidemetrocodemetroname'
                value: null
              ConnectionSearchZsideaccesspointname:
                $ref: '#/components/examples/ConnectionSearchZsideaccesspointname'
                value: null
              ConnectionSearchZsideaccesspointuuid:
                $ref: '#/components/examples/ConnectionSearchZsideaccesspointuuid'
                value: null
              ConnectionSearchZsideaccesspointtype:
                $ref: '#/components/examples/ConnectionSearchZsideaccesspointtype'
                value: null
              ConnectionSearchZsidevirtualdevicename:
                $ref: '#/components/examples/ConnectionSearchZsidevirtualdevicename'
                value: null
              ConnectionSearchZsidevirtualdeviceuuid:
                $ref: '#/components/examples/ConnectionSearchZsidevirtualdeviceuuid'
                value: null
              ConnectionSearchZsideservicetokenuuid:
                $ref: '#/components/examples/ConnectionSearchZsideservicetokenuuid'
                value: null
              ConnectionSearchZsideprofileuuid:
                $ref: '#/components/examples/ConnectionSearchZsideprofileuuid'
                value: null
              ConnectionSearchANDwithNestedOR-LIKE:
                $ref: '#/components/examples/ConnectionSearchANDwithNestedOR-LIKE'
                value: null
              ConnectionSearchORwithNestedAND:
                $ref: '#/components/examples/ConnectionSearchORwithNestedAND'
                value: null
              ConnectionSearchANDwithNestedIN:
                $ref: '#/components/examples/ConnectionSearchANDwithNestedIN'
                value: null
              ConnectionSearchANDClause:
                $ref: '#/components/examples/ConnectionSearchANDClause'
                value: null
              ConnectionSearchANDwithNestedOR:
                $ref: '#/components/examples/ConnectionSearchANDwithNestedOR'
                value: null
            schema:
              $ref: '#/components/schemas/SearchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
              - href: https://api.equinix.com/fabric/v4/connections/3a58dd05-f46d-4b1d-a154-2e85c396ea62
                type: EVPL_VC
                uuid: 3a58dd05-f46d-4b1d-a154-2e85c396ea62
                name: My-Layer2-Connection
                bandwidth: 1000
                direction: OUTGOING
                isRemote: true
                redundancy:
                  priority: PRIMARY
                  group: 7cf39156-9dec-40f7-a254-9bb401342e83
                aSide:
                  accessPoint:
                    type: COLO
                    uuid: b840a1db-5639-639f-97e0-328a5c00a874
                    name: exmapple-access-point-name-aside
                    port:
                      href: https://api.equinix.com/fabric/v4/ports/a00cef6f-8e35-4794-9ff9-665e084e4e6d
                      uuid: a00cef6f-8e35-4794-9ff9-665e084e4e6d
                  linkProtocol:
                    type: DOT1Q
                    vlanTag: 1001
                zSide:
                  accessPoint:
                    type: SP
                    uuid: b840a1db-5639-639f-97e0-328a5c00a875
                    name: exmapple-access-point-name-zside
                    profile:
                      href: https://api.equinix.com/fabric/v4/serviceProfiles/22d4e853-ef33-4ff0-b5b2-a2b1d5dfa50c
                      uuid: 22d4e853-ef33-4ff0-b5b2-a2b1d5dfa50c
                    location:
                      metroCode: MX
                      metroName: Mexico City
                      sellerRegion: us-west-1
                routingProtocols:
                - type: EBGP
                  seqId: 03f7294b-42ce-42b6-9cc8-1e1b46d8183a
                  state: ACTIVE
                  customerAsn: 65500
                  providerAsn: 65000
                  bgpAuthKey: testAuthKey
                  ipv4:
                    customerPeerIp: 169.254.255.2/30
                    providerPeerIp: 169.254.255.1/30
                operation:
                  providerStatus: PROVISIONING
                  equinixStatus: PROVISIONED
                changeLog:
                  createdDateTime: 2020-05-21T10:30:00Z
                  updatedDateTime: 2020-05-21T10:30:00Z
                project:
                  projectId: 2c10d60e-29c1-4721-ad1a-b531f4e04717
              schema:
                $ref: '#/components/schemas/ConnectionSearchResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/404'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Not Found
      summary: Search connections
      tags:
      - Connections
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/prices/search:
    post:
      description: Search prices by search criteria
      operationId: searchPrices
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              virtualConnectionProductEvplVcTypeFromColoToColo:
                $ref: '#/components/examples/VirtualConnectionProductEvplVcTypeFromColoToColo'
                value: null
              virtualConnectionProductEvplVcTypeFromColoToColoByPortUuid:
                $ref: '#/components/examples/VirtualConnectionProductEvplVcTypeFromColoToColoByPortUuid'
                value: null
              virtualConnectionProductEvplVcTypeFromColoToSP:
                $ref: '#/components/examples/VirtualConnectionProductEvplVcTypeFromColoToSP'
                value: null
              virtualConnectionProductFcrVcTypeFromGWToSP:
                $ref: '#/components/examples/VirtualConnectionProductGwVcTypeFromGWToSP'
                value: null
              virtualConnectionProductFcrVcTypeFromGWToColo:
                $ref: '#/components/examples/VirtualConnectionProductGwVcTypeFromGWToColo'
                value: null
              virtualConnectionProductFcrVcTypeFromVDToColo:
                $ref: '#/components/examples/VirtualConnectionProductGwVcTypeFromVDToColo'
                value: null
              virtualConnectionProductEvplVcTypeFromVDToColo:
                $ref: '#/components/examples/VirtualConnectionProductEvplVcTypeFromVDToColo'
                value: null
              virtualConnectionProductVdChainTypeFromVDToChaingroup:
                $ref: '#/components/examples/VirtualConnectionProductVdChainTypeFromVDToChaingroup'
                value: null
              virtualConnectionProductOfflineEvplVcTypeFromColoToSp:
                $ref: '#/components/examples/VirtualConnectionProductOfflineEvplVcTypeFromColoToSp'
                value: null
              virtualConnectionProductOfflineEvpLanVcTypeFromColoToNetwork:
                $ref: '#/components/examples/VirtualConnectionProductEvpLanVcTypeFromColoToNetwork'
                value: null
              cloudRouterProduct:
                $ref: '#/components/examples/FabricCloudRouterProduct'
                value: null
              ipBlockProduct:
                $ref: '#/components/examples/IpBlockProduct'
                value: null
              virtualPortProduct:
                $ref: '#/components/examples/VirtualPortProduct'
                value: null
            schema:
              $ref: '#/components/schemas/FilterBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                virtualConnection:
                  $ref: '#/components/examples/VirtualConnection'
                  value: null
                ipBlock:
                  $ref: '#/components/examples/IpBlock'
                  value: null
                cloudRouter:
                  $ref: '#/components/examples/FabricCloudRouter'
                  value: null
                virtualPort:
                  $ref: '#/components/examples/VirtualPort'
                  value: null
              schema:
                $ref: '#/components/schemas/PriceSearchResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/400_prices'
                  value: null
              schema:
                $ref: '#/components/schemas/PriceErrorList'
          description: Bad Request
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500_prices'
                  value: null
              schema:
                $ref: '#/components/schemas/PriceErrorList'
          description: Internal server error
      summary: Get Prices
      tags:
      - Prices
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/ports/{portId}/stats:
    get:
      description: This API provides service-level traffic metrics so that you can
        view access and gather key information required to manage service subscription
        sizing and capacity.
      operationId: getPortStatsByPortUuid
      parameters:
      - description: Port UUID
        explode: false
        in: path
        name: portId
        required: true
        schema:
          $ref: '#/components/schemas/PortUUID'
        style: simple
      - description: startDateTime
        example: 2020-11-06T07:00:00Z
        explode: true
        in: query
        name: startDateTime
        required: true
        schema:
          $ref: '#/components/schemas/startDateTime'
        style: form
      - description: endDateTime
        example: 2020-11-10T07:00:00Z
        explode: true
        in: query
        name: endDateTime
        required: true
        schema:
          $ref: '#/components/schemas/endDateTime'
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                statsExample:
                  $ref: '#/components/examples/200_port'
                  value: null
              schema:
                $ref: '#/components/schemas/Statistics'
          description: Successful operation
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/500'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal server error
      summary: Get Stats by uuid
      tags:
      - Statistics
      x-accepts: application/json
  /fabric/v4/ports/stats:
    get:
      description: This API provides top utilized service-level traffic metrics so
        that you can view access and gather key information required to manage service
        subscription sizing and capacity.
      operationId: getPortStats
      parameters:
      - description: Key or set of keys that organizes the search payload by property
          (such as createdDate or metroCode) or by direction. Ascending (ASC) is the
          default value. The "?" prefix indicates descending (DESC) order.
        explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: '#/components/schemas/sort'
        style: form
      - description: "Filter returning only the specified number of most heavily trafficked\
          \ ports. The standard value is [1...10], and the default is 5."
        explode: true
        in: query
        name: top
        required: false
        schema:
          $ref: '#/components/schemas/top'
        style: form
      - description: duration
        explode: true
        in: query
        name: duration
        required: false
        schema:
          $ref: '#/components/schemas/duration'
        style: form
      - description: Direction of traffic from the requester's viewpoint. The default
          is outbound.
        explode: true
        in: query
        name: direction
        required: false
        schema:
          $ref: '#/components/schemas/query_direction'
        style: form
      - description: metricInterval
        explode: true
        in: query
        name: metricInterval
        required: false
        schema:
          $ref: '#/components/schemas/metricInterval'
        style: form
      - description: Two-letter prefix indicating the metropolitan area in which a
          specified Equinix asset is located.
        explode: true
        in: query
        name: metros
        required: true
        schema:
          $ref: '#/components/schemas/metros'
        style: form
      - description: projectId
        explode: true
        in: query
        name: projectId
        required: false
        schema:
          $ref: '#/components/schemas/projectId'
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                statsExample:
                  $ref: '#/components/examples/200_top'
                  value: null
              schema:
                $ref: '#/components/schemas/TopUtilizedStatistics'
          description: Successful operation
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
      summary: Top Port Statistics
      tags:
      - Statistics
      x-accepts: application/json
  /fabric/v4/connections/{connectionId}/stats:
    get:
      description: This API provides service-level metrics so that you can view access
        and gather key information required to manage service subscription sizing
        and capacity
      operationId: getConnectionStatsByPortUuid
      parameters:
      - description: Connection UUID
        explode: false
        in: path
        name: connectionId
        required: true
        schema:
          $ref: '#/components/schemas/VirtualCircuitId'
        style: simple
      - description: startDateTime
        example: 2020-11-06T07:00:00Z
        explode: true
        in: query
        name: startDateTime
        required: true
        schema:
          $ref: '#/components/schemas/startDateTime'
        style: form
      - description: endDateTime
        example: 2020-11-10T07:00:00Z
        explode: true
        in: query
        name: endDateTime
        required: true
        schema:
          $ref: '#/components/schemas/endDateTime'
        style: form
      - description: viewPoint
        example: aSide
        explode: true
        in: query
        name: viewPoint
        required: true
        schema:
          $ref: '#/components/schemas/viewPoint'
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                statsExample:
                  $ref: '#/components/examples/200_vc'
                  value: null
              schema:
                $ref: '#/components/schemas/Statistics'
          description: Successful operation
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/403'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
      summary: Get Stats by uuid
      tags:
      - Statistics
      x-accepts: application/json
  /fabric/v4/serviceProfiles:
    get:
      description: The API request returns all Equinix Fabric Service Profiles in
        accordance with the view point requested.
      operationId: getServiceProfiles
      parameters:
      - description: offset
        example: 1
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      - description: number of records to fetch
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: flips view between buyer and seller representation
        explode: true
        in: query
        name: viewPoint
        required: false
        schema:
          default: aSide
          enum:
          - aSide
          - zSide
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=UTF-8:
              examples:
                ASideServiceProfile:
                  $ref: '#/components/examples/ServiceProfilesResponse'
                  value: null
                ZSideServiceProfile:
                  $ref: '#/components/examples/SellerServiceProfilesResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/ServiceProfiles'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-403-read'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-500'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal Server Error
      summary: Get all Profiles
      tags:
      - Service Profiles
      x-accepts: application/json
    post:
      description: Create Service Profile creates Equinix Fabric? Service Profile.
      operationId: createServiceProfile
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              ServiceProfileCreate:
                $ref: '#/components/examples/ServiceProfileCreate'
                value: null
              ServiceProfileCreate-CRH:
                $ref: '#/components/examples/ServiceProfileCreate-CRH'
                value: null
            schema:
              $ref: '#/components/schemas/ServiceProfileRequest'
        required: true
      responses:
        "201":
          content:
            application/json; charset=UTF-8:
              examples:
                ServiceProfile:
                  $ref: '#/components/examples/ServiceProfileCreateResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/ServiceProfile'
          description: Successful Create operation
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-403-create'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-500'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal Server Error
      summary: Create Profile
      tags:
      - Service Profiles
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/serviceProfiles/search:
    post:
      description: Search service profiles by search criteria
      operationId: searchServiceProfiles
      parameters:
      - description: flips view between buyer and seller representation
        explode: true
        in: query
        name: viewPoint
        required: false
        schema:
          default: aSide
          enum:
          - aSide
          - zSide
          type: string
        style: form
      requestBody:
        content:
          application/json:
            examples:
              ServiceProfileSearch:
                $ref: '#/components/examples/ServiceProfileSearchRequest'
                value: null
            schema:
              $ref: '#/components/schemas/ServiceProfileSearchRequest'
        required: true
      responses:
        "200":
          content:
            application/json; charset=UTF-8:
              examples:
                ServiceProfile:
                  $ref: '#/components/examples/ServiceProfilesResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/ServiceProfiles'
          description: Successful operation
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-400-search'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-500'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal Server Error
      summary: Profile Search
      tags:
      - Service Profiles
      x-content-type: application/json
      x-accepts: application/json
  /fabric/v4/serviceProfiles/{serviceProfileId}:
    delete:
      description: delete Service Profile by UUID
      operationId: deleteServiceProfileByUuid
      parameters:
      - description: Service Profile UUID
        explode: false
        in: path
        name: serviceProfileId
        required: true
        schema:
          $ref: '#/components/schemas/ServiceProfileId'
        style: simple
      responses:
        "200":
          content:
            application/json; charset=UTF-8:
              examples:
                ServiceProfile:
                  $ref: '#/components/examples/ServiceProfileDeleteResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/ServiceProfile'
          description: Successful Delete operation
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-400-delete'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-403-delete'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-404-get'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Not Found
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-500'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal Server Error
      summary: Delete Profile
      tags:
      - Service Profiles
      x-accepts: application/json
    get:
      description: Get service profile by UUID. View Point parameter if set to zSide
        will give seller's view of the profile otherwise buyer's view.
      operationId: getServiceProfileByUuid
      parameters:
      - description: Service Profile UUID
        explode: false
        in: path
        name: serviceProfileId
        required: true
        schema:
          $ref: '#/components/schemas/ServiceProfileId'
        style: simple
      - description: flips view between buyer and seller representation
        explode: true
        in: query
        name: viewPoint
        required: false
        schema:
          default: aSide
          enum:
          - aSide
          - zSide
          type: string
        style: form
      responses:
        "200":
          content:
            application/json; charset=UTF-8:
              examples:
                ASideServiceProfile:
                  $ref: '#/components/examples/ServiceProfileResponse'
                  value: null
                ZSideServiceProfile:
                  $ref: '#/components/examples/SellerServiceProfileResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/ServiceProfile'
          description: Successful operation
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
        "400":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-400'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Bad request
        "401":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-401'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Unauthorized
        "403":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-403-read'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Forbidden
        "500":
          content:
            application/json:
              examples:
                example:
                  $ref: '#/components/examples/sp-500'
                  value: null
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Internal Server Error
      summary: Get Profile
      tags:
      - Service Profiles
      x-accepts: application/json
    patch:
      description: Update Service Profile by UUID
      operationId: updateServiceProfileByUuid
      parameters:
      - description: Service Profile UUID
        explode: false
        in: path
        name: serviceProfileId
        required: true
        schema:
          $ref: '#/components/schemas/ServiceProfileId'
        style: simple
      - description: conditional request
        explode: false
        in: header
        name: If-Match
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json-patch+json:
            examples:
              ServiceProfilePatchRequest:
                $ref: '#/components/examples/ServiceProfilePatchRequest'
                value: null
            schema:
              $ref: '#/components/schemas/JsonPatch'
        required: true
      responses:
        "200":
          content:
            application/json; charset=UTF-8:
              examples:
                ServiceProfile:
                  $ref: '#/components/examples/ServiceProfilePatchResponse'
                  value: null
              schema:
                $ref: '#/components/schemas/ServiceProfile'
          description: Successful Patch operation
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
        "400":
          content:
            application/json:
              examples:
[...]
