name: Test Runner

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      TEST_HOST_URL: ${{ secrets.TEST_HOST_URL }}
      TEST_DATA_UAT_USERS: ${{ secrets.TEST_DATA_UAT_USERS }}

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Install modules
        shell: bash
        run: |-
          mvn clean install -DskipTests 

      - name: Tests
        shell: bash
        working-directory: ./equinix-openapi-fabric-tests
        run: |-
          mvn test -DenvUrl=${{ env.TEST_HOST_URL }}

      - name: Generate report
        if: always()
        working-directory: ./equinix-openapi-fabric-tests
        shell: bash
        run: |-
          mvn surefire-report:report -DskipTests    

      - name: attach report as attachment
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test report
          path: ./equinix-openapi-fabric-tests/target/reports
